[2015-05-20 00:17] cdesyoun opened #1 "In a file, "ODM2PythonAPI/ODM2/models.py""
Would you please fix these problems below?
  -- please fix the spelling error (ResultDateTimeUTCOfffset ==> ResultDateTimeUTCOffset)
  -- please add the "cv_relationshiptype" class
class CVRelationshipType(Base):
    __tablename__ = 'cv_relationshiptype'
    __table_args__ = {u'schema': 'odm2'}

    Term = Column('term', String(255), nullable=False)
    Name = Column('name', String(255), primary_k

[2015-05-29 18:18] cdesyoun commented on #1
Great! Two problems below were found.
  -- in the class "Results", add the column name, "resulttypecv".
  -- in the class "RelatedActions", remove the column, "ActionTypeCV" which is not in the table.

[2015-05-29 23:05] cdesyoun opened #2 "In a file, "ODM2PythonAPI/ODM2/apiCustomType.py""
using the postgresql 9.4 + PostGIS 2.1, in my case, "path" variable is changed below:
    #path = '"odm2"."samplingfeatures"."FeatureGeometry"'
    path = 'odm2.samplingfeatures.FeatureGeometry'

[2015-06-17 06:48] cdesyoun commented on #1
another one was found.
  -- in the class "RelatedFeatures", switch "SamplingFeatureObj" with "RelatedFeatureObj".

[2015-07-09 15:33] Castronova opened #3 "Query Sampling Feature Always Returns Nonetype"
When querying a SamplingFeature (e.g. getSamplingFeatureById, getSamplingFeatureByGeometry), `None` is always returned.  When querying all SamplingFeatures `TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'` is raised.  See sample code below to replicate this error:

[code]

[2015-07-09 15:38] Castronova opened #4 "createTimeSeriesResult fails"
The following exception is raised when inserting a timeSeriesResult record into a sqlite database:  `FlushError: Instance <TimeSeriesResults at 0x108ddecd0> has a NULL identity key.`  The snippet of code below will duplicate this error.

# create a result record
result = models.Results
result.ResultUUID = uuid.uuid4()
result.FeatureActionID = featureaction.FeatureActionID
result.ResultTypeCV = 'ti

[2015-07-26 17:50] emiliom commented on #2
I agree that the statement is incorrect for postgresql, and @cdesyoun's corrected statement is what it should be. I haven't run into this error yet b/c I'm only just starting with ODM2API, but I can also confirm that [the current source code](https://github.com/ODM2/ODM2PythonAPI/blob/master/src/api/ODM2/apiCustomType.py) (line 34) still needs to be corrected.

(I won't submit PR's until I'm more

[2015-07-26 18:00] emiliom opened #5 "NoForeignKey error on "SamplingFeatureExtensionPropertyValues.SamplingFeatureObj""
I'm just starting to get my feet wet with ODM2API. I'm starting with [Demo.py](https://github.com/ODM2/ODM2PythonAPI/blob/master/src/api/Demo.py), and tweaked it to use my own postgresql-based ODM2 database.

I've run into iterations of this error:
[code]
with `core_read.getVariables()` or alternatively `sampfeat_read.getAllSites()`. But I've confirmed that the foreign key relationship does exist

[2015-07-29 23:14] sreeder commented on #1
@cdesyoun  I've made all of these changes except changing the Boolean to a Bit. Could you explain why you would like this change. BIT is db specific, and we are trying to keep the api generic across the b types. are you having errors when running with Boolean?

[2015-07-30 21:47] cdesyoun commented on #1
@sreeder No, I meant changing the type in "Specimens" class below from "BIT" type to "Boolean" type in ODM2PythonAPI.

class Specimens(Base):
    __tablename__ = u'specimens'
    __table_args__ = {u'schema': u'odm2'}

    SamplingFeatureID = Column('samplingfeatureid', ForeignKey('odm2.samplingfeatures.samplingfeatureid'), primary_key=True)
    SpecimenTypeCV = Column('specimentypecv', ForeignKey(

[2015-08-04 22:43] sreeder commented on #2
@cdesyoun  I have been working on this so that it is generated by the  compiler and no longer statically entered into the code. Can you verify if the new version is still causing you issues?

[2015-08-04 22:44] sreeder opened #6 "Custom type"
The custom type for feature geometry is not saving to the database correctly for any of the db types.

[2015-08-04 22:48] sreeder opened #7 "Like ODM1"
There are still a few issues with the LikeODM1 library,
- [ ] the series is not being generated correctly
- [ ] there are no relationships or foreign keys between the other LikeODM1 tables.

[2015-08-04 22:50] sreeder commented on #3
@Castronova you were trying to connect to a sqlite database right?

[2015-08-04 22:52] sreeder commented on #4
Note: This error is occurring for multiple database types.
@Castronova did you write code to work around this issue? If, so could you post that snippet as well?

[2015-08-05 17:53] emiliom commented on #2
@sreeder, I can report that I successfully tested most of [Demo.py](https://github.com/ODM2/ODM2PythonAPI/blob/master/src/api/Demo.py), using my PostgreSQL use case db. I made a couple of changes, mainly setting the `session_factory` connection to my own database, of course. I could get a listing of all Variables and People. `read.getSamplingFeatureByCode()` worked, but I'm having some issues with

[2015-08-19 17:38] cdesyoun commented on #1
@sreeder, I imported this api into ODM2 Web service, and tested it.
There is one error found:
In the class Results at the model.py,
ResultTypeCV = Column('resulttypecv', ForeignKey(CVResultType.Name), nullable=False, index=True)
 Like the above, please add the column name.
When running the code with this api, I saw some "print" statements for debugging in the log window.
Please remove them if unne

[2015-08-28 21:24] cdesyoun commented on #2
Please remove "print" statements for debugging.

[2015-08-28 22:30] cdesyoun opened #8 "package loading error & generating database schema from the base model"
I tried to create the database schema for sqlite and postgresql using sqlalchemy data model (models.py). My code is below:
===================================
import sys
sys.path.append('ODM2PythonAPI')
from sqlalchemy import create_engine
from src.api.base import modelBase
from sqlalchemy import event
from sqlalchemy.schema import CreateSchema

def createDBschema(db_type):
    if db_type == 'post

[2015-08-31 16:54] horsburgh commented on #8
Why not use the DDL SQL scripts in the ODM2 repository for generating the ODM2 database?

[2015-08-31 17:48] cdesyoun commented on #8
Jeff, Yes, it is one of ways for creating DB schema in the database. As other way, since we have ODM2 python API to access the ODM2 data, that defined ODM2 model classes can be used for generating DB schema in the ODM2 database as well. In the python programming level, we can generate DB schema automatically among different types of databases.

[2015-10-20 21:46] valentinedwv opened #9 "Model Inheritance & generated models"
Implement Inheritance in the object model
A Site is a SamplingFeature, as is a Specimen
An EquipementAction is an Action,
etc.

[2015-10-20 21:52] valentinedwv opened #10 "Implement Use Case Models"
We have use cases:
- TimeSeries
- Measurements
  and possibly, PetDB

If these were Objects that a use use cases populate, that then used the API to store and retrieve it would speed adoption of the API, and also isolate the use cases from the data model.

[2015-10-20 21:53] valentinedwv commented on #10
Talked to Choonhan about this as he does the validator and yoda tools.

[2015-11-26 00:53] emiliom opened #11 "Installing as package, from "setup" branch"
@sreeder and @horsburgh, following up on our call from Monday, I've installed ODM2API. I think it needs more work, but here's what I did that was successful.

- I created a conda environment with all high-level dependencies, plus some more. This wasn't necessary, strictly, speaking, but I definitely wanted to test this installation in a virtual environment that wouldn't mess with my system Python.

[2015-11-28 21:43] emiliom commented on #11
Alrighty! I went ahead and fixed most of the issues I pointed out:
- Made a large reorganization of the code so setup.py could be at the root of the repo and the name of the package could be odm2api. The main, high-level change was renaming `src` to `odm2api` and moving `src/api` to `odm2api`
- edited setup.py a tad (including adding added geoalqchemy2 to the dependencies)
- editing a bunch of __i

[2015-11-28 21:52] emiliom commented on #11
And I'm guessing that, on a normal (non-conda) python setup, the package may be installable as easily as:
[code]
@cdesyoun, I'm pinging you so you're aware of this discussion, since you use ODM2API in the web service packages. Hopefully soon (by the end of the coming week??) we'll have ODM2API in solid shape so its master branch is pip installable.

I'm done with this until @sreeder and @horsburgh

[2015-11-30 03:16] emiliom opened #12 "Problem creating connection to PostgreSQL database"
After installing ODM2PythonAPI using the overhauled setup I described in issue #11 (with the `setup_em` branch I've created), I got an error trying to make a test connection to one of my local PostgreSQL ODM2 databases:
[code]
[code]

The messages `relation "Variables" does not exist` and `LINE 2: FROM "Variables"` suggest that it's trying to issue a query using a case-sensitive (double-quoted) ta

[2015-11-30 03:46] cdesyoun commented on #12
Emilio, it seems to me it is not a case-sensitive problem. When looking into ODM2 sqlalchemy models, in case of postgreSQL, there need "odm2" schema. For example, "odm2.Variables".
I guess you got this error message. Does your postgresql db have a schema name?

[2015-11-30 03:52] emiliom commented on #12
Thanks, @cdesyoun! Yes, I use an "odm2" schema name. That's the convention we've adopted across ODM2, so the ODM2PythonAPI needs to handle it.

But if a query is being issued that does have a `FROM "Variables"` statement with double quotes around the table name, there will be a case sensitivity issue. So maybe the problem is **both** not having the schema name and case sensitivity?

Hopefully Step

[2015-11-30 05:30] horsburgh commented on #11
@emiliom and @sreeder - I thought we were getting rid of geoalchemy2 as a dependency for now?

[2015-11-30 05:40] emiliom commented on #11
Yes, but that's a separate issue. Here I was only addressing packaging and
installation, using Stephanie's setup branch as the starting point.

[2015-11-30 15:51] valentinedwv commented on #11
Need to separate testing and demo requirements from the install requirements.

We don't need numpy, and pandas to install the api.
You do need them to do the demos

[2015-11-30 18:00] emiliom commented on #11
Good point, Dave. I didn't try to make any such separation yet (test+demo vs api install), since I was focused on more basic issues.

[2015-11-30 18:02] emiliom opened #13 "geoalchemy vs geoalchemy2 dependency"
@sreeder and @horsburgh: I'm creating this issue to help us keep track of the status.

Stephanie, were you able to make progress on this last week?

[2015-12-04 20:48] emiliom commented on #11
@sreeder, is the geometry branch ready to be merged with the setup and/or setup_em branches? From what you told me this week, it sounded that way.

It'd be **really** helpful to be done with the directory reorganization and python packaging steps ASAP, and even better if we can fold in your geoalchemy changes (#13). Right now it looks like we'll have to merge commits from *3 branches*: geometry, s

[2015-12-04 21:19] sreeder commented on #11
@emiliom I was trying to get spatialite working with the goemetries before doing the merge, but that can wait a few days. I will get to merging everything now so that we have an easy install of all our working code.

[2015-12-04 22:02] sreeder commented on #13
This issue has been completed in the geometry branch and has been merged into the setup branch

[2015-12-04 22:02] sreeder commented on #12
This issue has been addressed in the setup branch

[2015-12-04 22:03] sreeder commented on #6
this is being addressed by using Geoalchemy instead of Geoalchemy 2

[2015-12-04 22:06] sreeder opened #14 "ODM2 Spatialite support"
Need to get the code to work with spatialite databases. it is currently trying to connect with sqlite but that has none of the geospatial functions.

[2015-12-04 22:11] sreeder opened #15 "createTimeSeriesResultValues"
The following code should be generic, but there seems to be some issues with capitalization that need to be addressed for all db types
def createTimeSeriesResultValues(self, datavalues):
        try:
            datavalues.to_sql(name="TimeSeriesResultValues",
                              schema=TimeSeriesResultValues.**table_args**['schema'],
                              if_exists='append',

[2015-12-04 22:12] sreeder commented on #11
@emiliom  @horsburgh  I have been able to merge all of the branches into setup_em. So this should have all of the working code. I can merge it into master as soon as I am given the go ahead.

[2015-12-04 23:04] emiliom commented on #6
Now being addressed in #13. Closing.

[2015-12-04 23:04] #6 closed

[2015-12-04 23:10] emiliom commented on #11
@sreeder: WOW!! Thank you! Clearly you're a git pro.

I completely agree with setting aside the sqlite/spatialite issue and focusing on merging the branches first.

I'm good with you merging into master. But I'd like to see confirmation from you and @horsburgh that you agree with the decisions I made when I reorganized the directories in my setup_em branch, and decided to call the package `odm2api

[2015-12-04 23:12] emiliom commented on #11
Regarding merging: actually, if you'd like, I can install the `setup` branch (now that you've merged geometry and setup_em into setup) and do a bunch of tests over the weekend, before you go ahead and merge into `master`.

[2015-12-04 23:12] emiliom commented on #12
Excellent. I'll test with postgresql.

[2015-12-04 23:18] emiliom commented on #13
@sreeder, one question: when we talked on the phone I *think* you said that using geoalchemy would involve making some changes to it. Was that the case, or am I mixing things up? If it is true, it means we'll have to maintain our own fork of geoalchemy in the ODM2 github organization. Not a problem per se, just wanted to make that clear.

[2015-12-04 23:22] horsburgh commented on #11
@emiliom  - I don't have any issues with the "odm2api" lower case.  And, I don't really have an educated opinion about the folder restructuring.

Some testing would be great.

[2015-12-04 23:28] sreeder commented on #11
@emiliom  I actually merged everything into setup_em. Its easier to move into the restructured repository than visa versa. I thought the name odm2api was great and the restructuring is consistent with how I would have done it as well. I will wait until Monday to finish the merging into master.

[2015-12-05 00:31] sreeder commented on #13
@emiliom Yes, there is one classname that has to be changed. I have made a note of it in the requirements.txt file. But I have been planning on keeping our own copy in the repository, thanks for the reminder.

[2015-12-07 00:44] emiliom commented on #13
This is just for reference:
- Stephanie's change to geoalchemy (copied from [requirements.txt](https://github.com/ODM2/ODM2PythonAPI/blob/setup_em/requirements.txt)): Change [line #242 in geoalchemy/base.py](https://github.com/geoalchemy/geoalchemy/blob/master/geoalchemy/base.py#L242) from: `class SpatialComparator(ColumnProperty.ColumnComparator):` to `class SpatialComparator(ColumnProperty.Compa

[2015-12-07 00:56] emiliom commented on #13
I've forked geoalchemy into the ODM2 org: https://github.com/ODM2/geoalchemy. Then I created a branch (`odm2`) and made Stephanie's single-line edit there. Then I tested by first installing this fork/branch via `pip install git+https://github.com/ODM2/geoalchemy.git@odm2`, then installing odm2api (setup_em branch) via `pip install git+https://github.com/ODM2/ODM2PythonAPI.git@setup_em`.

So far so

[2015-12-07 02:13] emiliom commented on #12
Problem fixed. I no longer get this error during testing with postgresql. Closing issue.

[2015-12-07 02:13] #12 closed

[2015-12-07 02:38] emiliom commented on #11
Thanks for getting back to me on whether the packaging in the setup_em branch makes sense! @sreeder, thanks for the clarification that you merged into setup_em, not setup; I can definitely appreciate that reorganizing directories can make merging trickier.

My postgresql testing (using my "Marchantaria" use case database, locally) were largely successful, and I'm done (at least with issues in our

[2015-12-07 02:59] emiliom commented on #13
Things to follow up on, probably as separate issues:
- Is [odm2api.ODM2.apiCustomType](https://github.com/ODM2/ODM2PythonAPI/blob/setup_em/odm2api/ODM2/apiCustomType.py) no longer used anywhere? I assume so, b/c it has a `geoalchemy2` import statement, so that would throw an error. If this is the case, it should be removed (or better yet, an experimental geoalchemy2 branch should be created and us

[2015-12-07 03:03] emiliom commented on #11
After inspecting `odm2api.ODM2.models`, I found the shapely-based geometry-extraction code in the [`__repr__` method](https://github.com/ODM2/ODM2PythonAPI/blob/setup_em/odm2api/ODM2/models.py#L565-L569). That let me get at the geometry. But this is messier than it used to be, more convoluted. It ought to be much simpler to get at the geometry. We'll need to follow up, via #13 or a separate issue.

[2015-12-08 21:01] sreeder commented on #13
@emiliom
you are correct, the apiCustomType is no longer being used.
I will work on changing over the import statement and see if there is a simple way to expand the support of feature types beyond Point. I'm not sure the best way to address the shaply issue at the moment but I may be able to write a custom __repr__ function that will print it out as WKT.

[2015-12-14 21:49] denvaar opened #16 "Geoalchemy raises AssertationError"
Geoalchemy raises an AssertationError when using the API's getDetailedResultInfo method. As a work-around, I can comment out line 88 in base.py, but then it will not actually create a geometry.

[code]

[2015-12-15 14:25] valentinedwv commented on #16
Turn on logging support to SQL in the module.

import logging
logging.basicConfig()

logging.getLogger('sqlalchemy.engine').setLevel(logging.DEBUG)

Suggestion, can we write a set of tests against the DB's we want to support,
support detailed logging passing echo-true to the create

engine = sqlalchemy.create_engine('postgres://foo/bar', echo=True)

On Mon, Dec 14, 2015 at 1:49 PM, Denver Smith <n

[2015-12-16 18:52] valentinedwv commented on #13
I changed the dependencies in setup.py and requirements.txt.
On Windows you may/will need to add git to your path. for me it was:
C:\Program Files (x86)\Git\cmd

[2015-12-16 18:54] valentinedwv commented on #16
I redid the setup.py, can you make a new virtual environment, and test to see if pulling from the ODM2 forked geoalchemy solves the issue?

[2015-12-16 19:55] emiliom opened #17 "What are the Forms and doc/wxFormBuilder folders?"
@sreeder and @horsburgh, what are the [Forms](https://github.com/ODM2/ODM2PythonAPI/tree/master/Forms) and [doc/wxFormBuilder](https://github.com/ODM2/ODM2PythonAPI/tree/master/doc/wxFormBuilder) folders? Do they belong in the odm2 api package, or are they: a) experimental, hence better moved to a branch; b) non-essential add-ons (my guess), hence better moved to a separate package or some other m

[2015-12-16 20:14] emiliom commented on #13
Thanks, @valentinedwv ! Have you tested this? I tried installing, letting `pip install git+https://github.com/ODM2/ODM2PythonAPI.git` handle the geoalchemy dependency. Instead of installing odm2/geoalchemy.git@odm2 (labelled as version 0.7.3dev), it installed geoalchemy from pypi (0.7.2).

I don't know enough about pip packaging to figure out what's wrong.

[2015-12-16 20:19] emiliom commented on #16
@denvaar, are you using the right version of geoalchemy1? See [issue #13](13#issuecomment-162382330), including @valentinedwv's comment about the changes he made so that odm2api picks up the right geoalchemy (the odm2 branch of https://github.com/ODM2/geoalchemy)

[2015-12-16 20:25] emiliom commented on #13
Just more confirmation that the setup dependency requirement for geoalchemy is not configured correctly. My odm2api tests ran just fine when I pre-installed geoalchemy via pip install, like this:
[code]

[2015-12-16 20:33] emiliom commented on #11
@sreeder, thanks for pushing setup_em to the master branch, and the [additional cleanups done in your commit](https://github.com/ODM2/ODM2PythonAPI/commit/1125141daa33125802ff9ed6e1e62f89eecca322#diff-5c7625e5d6df2b40707075227166685b), including the change from Point to Geometry geometry type.

To minimize confusion in the future, let's delete the setup and setup_em branches soon. Unless you or @h

[2015-12-16 22:59] valentinedwv commented on #13
Didn't hard core check it, but when I ran it in pycharm, it complained about not pulling from git...
Checking now pycharm shows 0.7.3.dev0

Added >= to geoalchemy to see if that forces it.

[2015-12-17 02:41] emiliom commented on #13
Do you use conda? I can send you instructions for installing odm2api with
all dependencies, with conda. It's very easy.

[2015-12-17 21:32] denvaar commented on #17
I believe that these were created to provide a reusable GUI panel for apps that use the API and would like to allow users to enter their credentials and connect to a database.

[2015-12-17 21:43] emiliom commented on #17
Thanks, @denvaar. That does sound like an add-on functionality that shouldn't be a part of the default installation. Stuff to think about, I guess.

[2015-12-18 00:57] valentinedwv commented on #17
That can go in extras
See the wofpy setup.py

Sent from my iPhone

[2015-12-23 19:02] emiliom commented on #13
Has anyone tested Dave's latest change to the geoalchemy dependency specification? ie, is the right geoalchemy version installed when pip installing odm2api?

[2015-12-23 19:11] horsburgh commented on #13
@emiliom - Not sure I'm on track here, but to test the API (which I have been doing a little over the past couple of days), I used these instructions from Stephanie to get a Python environment named "sdl" set up using conda:

conda create -n sdl sqlalchemy pymysql psycopg2 pyodbc shapely pandas pyyaml ipython-notebook
source activate sdl
pip install git+https://github.com/ODM2/Geoalchemy.git@maste

[2015-12-23 19:13] emiliom commented on #11
A status update:
- I've deleted the `setup_em` branch.
- The `setup` branch has one small change made by @denvaar after @sreeder's massive merges into master. I've [asked him to apply it to master](https://github.com/ODM2/ODM2PythonAPI/commit/1c3ec343fbb16bdbeb12f271e715767b96032289#commitcomment-15144560), then we should delete this branch.
- We're still finalizing the specification of the ODM2/g

[2015-12-23 19:20] emiliom commented on #13
You're right. And that [hasn't been needed for over two weeks](https://github.com/ODM2/ODM2PythonAPI/issues/13#issuecomment-162382330). The right installation statements are:
[code]
- No need to specify `@master` on odm2api itself
- Currently the change on our geoalchemy fork is on the `odm2` branch. We could easily merge it to master; I just wanted to let others (@sreeder? you?) have a chance to

[2016-01-08 01:07] emiliom opened #18 "help specifying a build requirement from a github repo release (for geoalchemy fork)"
@ocefpaf, if you have a bit of time (right!) I'd like to bug -- or beg? :smiley_cat: -- you for help with specifying a package dependency. This isn't conda packaging, yet; that'll be a separate conversation in the future. And it's not IOOS related, at least not yet.

The [ODM2PythonAPI (odm2api) package](https://github.com/ODM2/ODM2PythonAPI) has a dependency on a [slightly customized fork](https:

[2016-01-08 20:32] ocefpaf commented on #18
It seems possible.  I need to take a better look at it during the weekend and I will get back to you.

[2016-01-11 21:23] emiliom commented on #18
Done! odm2api is now installable as:
[code]
This will install the `geoalchemy` dependency from [our odm2 fork ("v0.7.3")](https://github.com/ODM2/geoalchemy/releases/tag/v0.7.3).

Note that `psycopg2` has been removed from the dependencies, b/c apparently it doesn't install (on Macs and/or Linux?) via `pip install`. Someone should look into this eventually ...

See PR #20 for more details, special

[2016-01-11 21:23] #18 closed

[2016-01-11 21:46] ocefpaf commented on #18
My pleasure!  (I was enjoy learning something new and I had no idea how `dependency-links` worked before this ;-)

[2016-01-13 01:02] emiliom commented on #16
@denvaar, are you still getting this error, or can we close this issue?

FYI (and for @horsburgh and anyone else), I've created instructions for installing `odm2api` using conda packages for all the dependencies except geoalchemy, followed by a single `pip install` command to install odm2api and geoalchemy. See [README.md](https://github.com/ODM2/ODM2PythonAPI).

[2016-01-13 01:06] emiliom commented on #13
Closing this issue. I've created instructions for installing `odm2api` using conda packages for all the dependencies except geoalchemy, followed by a single `pip install` command to install odm2api and geoalchemy. See [README.md](https://github.com/ODM2/ODM2PythonAPI).

Gory packaging details can be found on issue #18 and associated pull requests (PR #19 and PR #20).

[2016-01-13 01:06] #13 closed

[2016-01-13 01:12] emiliom commented on #11
Closing this issue. I've created instructions for installing `odm2api` using conda packages for all the dependencies except geoalchemy, followed by a single `pip install` command to install odm2api and geoalchemy. See [README.md](https://github.com/ODM2/ODM2PythonAPI).

Gory packaging details can be found on issue #18 and associated pull requests (PR #19 and PR #20).

Recent commits from the `setu

[2016-01-13 01:12] #11 closed

[2016-01-15 22:29] Castronova opened #21 "createDataSet fails to create dataset"
The `createDataset` function in createService.py fails.

[code]

**IntegrityError: (IntegrityError) NOT NULL constraint failed: Datasets.DatasetUUID u'INSERT INTO datasets (datasetuuid, datasettypecv, datasetcode, datasettitle, datasetabstract) VALUES (?, ?, ?, ?, ?)' (None, None, None, None, 'test')**

The `createDataset` function sets values for the following variables DatasetTypeCV, DatasetCode

[2016-01-15 22:30] Castronova opened #22 "Querying Simulations fails"
Querying for simulations does not work when using any of the `readService` functions.  Exceptions are silenced when calling these functions and `None` is returned.  I suggest that the exception handling at least print the exception message (possibly even `raise Exception(e)`).  By printing the exception message we can see that all of these functions are looking for a table called `Simulation`:

[c

[2016-01-15 22:31] Castronova opened #23 "createSimulation fails"
`createService.createSimulation` fails with:

**OperationalError: (OperationalError) table simulations has no column named outputdatasetid u'INSERT INTO simulations (actionid, simulationname, simulationdescription, simulationstartdatetime, simulationstartdatetimeutcoffset, simulationenddatetime, simulationenddatetimeutcoffset, timestepvalue, timestepunitsid, inputdatasetid, outputdatasetid, modeli

[2016-01-17 02:48] emiliom opened #24 "Getting Examples/Sample.py to work with LBR ODM2 SQLite db"
@denvaar here's what I'm trying. I have Jeff's ODM2.sqlite db for the Little Bear River, with a single timeseries result. I'm trying to run [Examples/Sample.py](https://github.com/ODM2/ODM2PythonAPI/blob/master/Examples/Sample.py). I was hoping it would work!

I can connect to (read) the database, and query some objects. But I'll jump to the core and major problem I'm running into.

FYI, the sqlit

[2016-01-17 02:51] emiliom commented on #24
I forgot to mention that `read.getAllAffiliations()` does work as expected on a PostgreSQL database of mine.

[2016-01-18 21:44] denvaar commented on #24
@emiliom I can confirm the errors you're getting. ```read.getAllAffiliations()``` is failing because of the ``` IsPrimaryOrganizationContact``` field. It's marked as ```boolean```, but the problem is that SQLite does not have a native Boolean data type (see https://www.sqlite.org/datatype3.html) so SQLAlchemy is expecting an integer (1 or 0) here instead. @horsburgh It looks like this column is re

[2016-01-18 22:55] denvaar commented on #24
The line, ```read.getSamplingFeatureByCode('USU-LBR-Mendon')``` in the Sample.py file also produces an error. It can be avoided by un-commenting out line 562 and commenting out line 563 in models.py. I am not sure what the repercussions might be if we change that for all other situations. @sreeder should have a better idea than me about which way to go for this issue.

I will continue to work thou

[2016-01-19 19:15] emiliom commented on #24
Thanks, @denvaar . Good to hear you found the problem with `read.getAllAffiliations()`.

For now, I've deliberately avoided all statements dealing with `SamplingFeatures` ...

I'm looking forward to seeing what you find about `Results` and `TimeSeriesResultValues`!

[2016-01-20 17:48] denvaar commented on #24
@emiliom I was able to get the script to run completely without errors.

Most or all of the errors relating to ```Results``` I fixed by adding an intermediary ```ResultObj``` in the method chains. For example: ```tsResult.ResultTypeCV``` becomes ```tsResult.ResultObj.ResultTypeCV``` We must have updated the structure of some of the models without changing the sample script.

Take all of my fixes a

[2016-01-20 17:53] emiliom commented on #24
Fantastic, @denvaar! The changes you describe sound very much like what was missing.

I won't be able to test this until late today; I'll report back by tomorrow morning, hopefully today.

[2016-01-20 19:33] cdesyoun opened #25 "creating tables via sqlalchemy model base in sqlite"
I tried to create all of tables via ODM2 model base, like this:
[code]
in current odm2 sqlalchemy model, because of table schema, "odm2", when creating tables in sqlite, I got the error message below:
[code]
When using the modified odm2 model for sqlite, https://github.com/ODM2/ODM2PythonAPI/blob/master/odm2api/ODM2/models_sqlite.py, it went well.
Is there any way to skip the schema tag in current

[2016-01-20 23:42] denvaar opened #26 "Pyodbc SQL Server Driver Connection String"
@AmberSJones and I have been running into some issues when connecting to a SQL Server database from a windows machine. The driver portion of the connection string (`SQL+Server+Native+Client+10.0`) does not always match the name of the driver on each machine.

For example, my machine only had drivers named `SQL+Server` and `ODBC+Driver+11+for+SQL+Server`. The names of the drivers will not always be

[2016-01-21 08:25] emiliom commented on #24
Success! I was able to reproduce [Examples/Sample.py](https://github.com/ODM2/ODM2PythonAPI/blob/master/Examples/Sample.py).

FYI, I didn't run the script as-is. I created a Jupyter notebook out of most it, except the Sampling Feature creation block. Also, `read.getAllAffiliations()` is still returning `None`, but @denvaar [already noted the sqlite-specific reason for it](https://github.com/ODM2/O

[2016-01-21 08:45] emiliom commented on #24
@denvaar, looking at [your commit ](https://github.com/ODM2/ODM2PythonAPI/commit/20d64ae30c92b7d86a61ff3d34d8ca4bdbec8767), I'm wondering about [your changes to ODM2/models.py](https://github.com/ODM2/ODM2PythonAPI/commit/20d64ae30c92b7d86a61ff3d34d8ca4bdbec8767#diff-0ee3d0270e8061c9eb0e712c2e83d27a). You uncommented statements flagged as "Geoalchemy2" and commented out ones flagged as (or develop

[2016-01-21 23:10] horsburgh commented on #25
@cdesyoun - I don't know the answer to this question, but I do know that @sreeder has had some similar issues with SQLite and I thought had figured out how to turn off the "odm2" schema for anything to do with SQLite.  She will have to confirm.  She's on maternity leave for a few more weeks.

In the meantime, to create an ODM2 SQLite database, you should use the blank schema script from the ODM2 r

[2016-01-22 03:48] emiliom commented on #9
:+1:
Ditto for TimeSeriesResults vs Results, and other result types. Currently the strict 1:1 mapping of database tables to objects makes the api feel bloated and somewhat painful.

[2016-01-22 03:57] emiliom opened #27 "one more pass at branch/fork unification?"
We've done a pretty significant amount of code reorganization and cleanup since mid November, and that's all now pretty stable in the master branch. But there are two possible additional loose ends that we should tackle for merging into master:

1. @denvaar, your [commits to the setup branch](https://github.com/ODM2/ODM2PythonAPI/commits/setup) since late November or so. It looks like you've fixed

[2016-01-22 17:51] denvaar commented on #27
@emiliom merging the setup branch into master is something I will be doing within the next week or two. I have made a lot of additions and a few changes, so I am trying to double check with @sreeder about some things.

[2016-01-22 18:03] denvaar commented on #24
@emiliom I will look at the geoalchemy code again. I was unsure about this part of the code. I know that @sreeder had mentioned switching back to geoalchemy version 1 instead of 2, but as I mentioned before, I don't know the details about it. It sounds like I should change it back. The errors it generates in the example script are likely to be happening because of the way SamplingFeature's feature

[2016-01-22 18:04] emiliom commented on #27
Thanks, @denvaar!

[2016-01-22 19:19] cdesyoun commented on #27
Emilio, for odm2 rest api, you have put some comments here, https://github.com/ODM2/ODM2RESTfulWebServices/issues/1. This work is still under development server to get your review. If you think it is OK, I will update current version on github, called the production version from the development version.
Also, I used odm2api package integrating with odm2 api and tested it on production version, htt

[2016-01-22 19:36] emiliom commented on #27
Thanks, Choonhan. Yeah, I'm so sorry that I never followed up with comments and reviews on your latest version of the ODM2REST API! This has been on hold for so long, that I think you should go ahead and push to production. It's all still experimental anyway. I do want to get to it sooner rather than later, but right now I can't say when.

Regarding this comment:

Thanks for those details. That's

[2016-01-22 19:54] cdesyoun commented on #27
Thanks, Emilio. I will update it integrating with odm2api on github.
I think Stephanie has updated most of my issues in ODM2 rest api.
When comparing it with newly version, customized Geometry class below in odm2 api was used.
[code]
this import (https://github.com/ODM2/ODM2PythonAPI/blob/master/odm2api/ODM2/apiCustomType.py) tells how to compile and save the geometry data.

[2016-01-22 22:49] denvaar commented on #26
Marking as "ready for testing" for now. Will close after we are sure it's working correctly.

[2016-01-22 22:55] emiliom commented on #27
@cdesyoun, are you saying your issue is fixed in the current master branch?

To ensure you've installed the correct geoalchemy1 package (our ODM2 fork), please see the [new installation instructions on README.md](https://github.com/ODM2/ODM2PythonAPI/blob/master/README.md). If you don't want to use conda to install the dependencies, I suggest you first install the ODM2 geoalchemy1 fork with `pip i

[2016-01-22 22:58] denvaar commented on #24
In the SQLite example script, geometries are inserted as text when they should be well known binaries. That's the source of the errors with Sampling Features. I am working on rewriting @horsburgh 's script, but am experiencing the woes of spatialite.

[2016-01-22 23:01] emiliom commented on #24
Interesting. I'm still not totally clear on when and why spatialite is needed. It's not needed for "read" access -- shapely functionality is good enough for basic things. Can you not use shapely to convert from text (WKT?) to WKB before inserting into Sampling Features??

[2016-01-22 23:25] emiliom commented on #24
FYI, [here's a Jupyter notebook where I test/demo access to the sqlite database](http://nbviewer.jupyter.org/github/emiliom/stuff/blob/master/odm2api_sample_fromsqlite.ipynb). It's the notebook adaptation of most of [Examples/Sample.py](https://github.com/ODM2/ODM2PythonAPI/blob/master/Examples/Sample.py) that I had mentioned.

@horsburgh, hopefully that notebook will be somewhat useful to you.

[2016-01-22 23:42] cdesyoun commented on #27
Emilio, I installed geoalchemy and odm2api packages on github into my virtual environment for python.
Installation was successful. In current odm2 "models.py" in master branch,
[code]
it was changed, commenting out the customized Geometry class. when reading the value for "FeatureGeometry" column, this current Geometry class shows  this value, "0101000020E6100000DAE6C6F484014EC0D5CF9B8A54580AC0".

[2016-01-23 02:32] emiliom commented on #27
@cdesyoun, I'm trying to understand the issue clearly and track what changes have been made recently.

[apiCustomType.py](https://github.com/ODM2/ODM2PythonAPI/blob/master/odm2api/ODM2/apiCustomType.py) was [deprecated when we switched to using geoalchemy1 (see issue#13)](https://github.com/ODM2/ODM2PythonAPI/issues/13#issuecomment-162396101); it relied on geoalchemy2. From those same comments, it

[2016-01-25 18:11] emiliom commented on #27
This may be somewhat of a tangent (though related to the broad code clean-up topic) ... As I mentioned in my previous comment (referencing an earlier issue discussion with @sreeder), [ODM2/apiCustomType.py](https://github.com/ODM2/ODM2PythonAPI/blob/master/odm2api/ODM2/apiCustomType.py) has been deprecated since we decided to switch from geoalchemy2 to geoalchemy1. To double check, I did a search

[2016-01-25 19:00] cdesyoun commented on #27
Emilio, this issue was that currently, the return value of "FeatureGeometry" is wkb, not wkt when querying "SamplingFeature".  for example,
[code]
When using "apiCustomType.py", the return value was wkt.
I used "shapely" package to convert this wkb to wkt so that I got this error, "pg_functions has no attribute 'read'" or something like that. And if it is not big issue, I can use this wkb string t

[2016-01-25 19:22] denvaar commented on #27
@emiliom I merged the setup branch into master this morning and deleted the branch. There were no merge conflicts (surprising) so hopefully the merge won't have any negative repercussions. Most of my work on the setup branch was adding new things rather than changing things.

@cdesyoun As for the sampling features, when I reverted the changes I made to SamplingFeature's ```__repr__``` method, I di

[2016-01-25 20:10] cdesyoun commented on #27
@emiliom and @denvaar, I got a readable text from WKB in FeatureGeometry using these codes below:
[code]
The result is below:
[code]
so, there is no issue in odm2 REST api currently.

[2016-01-26 00:37] cdesyoun commented on #27
@emiliom and @valentinedwv, I updated ODM2 REST API that integrates with odm2api with Emilio's review comments. Test site is http://sis-devel.cloudapp.net/docs/.

[2016-01-26 03:20] emiliom commented on #27
Thanks, @denvaar!! Terrific. I didn't get a chance to test it today, but hopefully tomorrow.

Thanks for that testing, @cdesyoun. Personally, I think odm2api should provide access to the WKT text representation much more easily, and not expect users to do all the transformations you've implemented. Independent of whether or not WKT is the default `FeatureGeometry` value type, WKT should be accessi

[2016-01-26 04:00] cdesyoun commented on #27
@emiliom this code example can parse WKB points, and even other geometry shapes. This example is not hard-wired point type. just load WKB format and dump it as WKT, regardless of any specific geometry types.

[2016-01-27 19:58] #23 closed

[2016-01-27 20:36] Castronova commented on #4
It looks like this error is because the result object does not have a `ResultID` specified, but `ResultUUID` instead...user error.  I suggest that the createTimeSeriesResults function is modified to accept an integer for `ResultID` rather than the `Result` object.  This would make it consistent with other api functions, e.g. `createSamplingFeature`, `createAffiliation`, `createAction`, `createResu

[2016-02-01 16:43] Castronova opened #28 "Read service fails for simulation and model functions"
The `readService` functions fail for most Simulation, Model, and RelatedModel functions.
- `getAllModels`
- `getModelByCode`
- `getAllSimulations`
- `getSimulationByName`
- `getSimulationByActionID`
- `getRelatedModelsByID`
- `getRelatedModelsByCode`
- `getResultsBySimulationID`

[2016-02-02 06:57] emiliom opened #29 "SamplingFeature read failures with SQLite"
In #24 we went back forth with some changes to [ODM2/models.py](https://github.com/ODM2/ODM2PythonAPI/blob/master/odm2api/ODM2/models.py) and possibly [ODM2/services/readService.py](https://github.com/ODM2/ODM2PythonAPI/blob/master/odm2api/ODM2/services/readService.py) regarding SamplingFeatures and the use of geoalchemy 1. A couple of merges were involved. These changes sort-of continued in #27,

[2016-02-02 07:09] emiliom commented on #29
The errors listed above (on this issue) would suggest that something may have changed with SQLAlchemy in January; and that fixing this problem may require more SQLAlchemy Fu than what I have.

But it turns out that I still had a conda environment built before the bad changes happened, and I can successfully run my [SQLite-testing IPython notebook](http://nbviewer.jupyter.org/github/emiliom/stuff/b

[2016-02-07 05:42] emiliom commented on #9
Copying here stuff from email @valentinedwv sent around on Feb 5, since it's directly related to this issue that he started a couple of months ago. Here's Dave's original. He attached 3 files: `generated_models.py`, `generated_201512.py`, and `notes_sqlacodegen.txt`.

[code]
Attached `notes_sqlacodegen.txt` file (see [sqlacodgen](https://pypi.python.org/pypi/sqlacodegen)):
[code]

[2016-02-07 05:43] emiliom commented on #9
And now copying @cdesyoun's follow-up comment:

[2016-02-07 05:55] emiliom commented on #9
@valentinedwv and @cdesyoun, thanks again for sending this. I've looked at the generated code, including inspecting its structure with pycharm. While I haven't tested it, the model inheritance it presents is exactly along the lines of what we should be doing, and I'm pleasantly surprised at how intuitive it all appears. Inheritance is there not just with Sites & Specimens (vs SamplingFeatures), bu

[2016-02-07 09:54] emiliom commented on #29
I've overhauled `models.SamplingFeatures` to handle `FeatureGeometry` consistently across databases and provide helpful results. The new code is in the branch [sfgeometry_em_1](https://github.com/ODM2/ODM2PythonAPI/tree/sfgeometry_em_1), for testing. I've tested it with PostgreSQL and SQLite, but I expect it to work with MySQL and MSSQL as well.

I wanted to change `FeatureGeometry` reading to ret

[2016-02-07 10:23] emiliom commented on #24
@horsburgh, now that I've closely examined SamplingFeatures (see #29) in the Little Bear ODM2 SQLite file, I've realized that the geometry coordinates inserted into `SamplingFeatures.FeatureGeometry` are reversed. In the [WKT format](https://en.wikipedia.org/wiki/Well-known_text) they were inserted as, the expected, correct order is lon lat (POINT (x y)), but they were instead inserted as lat lon.

[2016-02-07 21:20] valentinedwv commented on #9
One without date is an older schema.

[2016-02-08 03:03] emiliom commented on #9
Thanks.

[2016-02-10 20:02] emiliom commented on #29
@cdesyoun, have you had a chance to test this new SamplingFeatures code from the [sfgeometry_em_1](https://github.com/ODM2/ODM2PythonAPI/tree/sfgeometry_em_1) branch? If so, does it work for your needs?

Anyone else? It'd be great to have testing and confirmation on MySQL and MS SQL Server, too ...

I want to decide if we can merge it into master soon, say, next week.

[2016-02-10 20:04] emiliom commented on #9
FYI, in the next couple of weeks @Iluvatar (Tyler, an undergraduate working with me) will be taking a stab at incorporating the SamplingFeatures, Sites and Specimens model inheritance from `generated_models_201512.py`, and testing it against the Little Bear SQLite database.

[2016-02-12 17:50] emiliom commented on #9
Thanks to the reminder from @aufdenkampe, I've made Dave's [`generated_models_201512.py` available as an ODM2 gist](https://gist.github.com/emiliom/7ff97f4c5015a3c8e769)

[2016-02-16 05:25] cdesyoun commented on #29
@emiliom I did pull up sfgeometry_em_1 branch and tested it. When looking into your new changed SamplingFeatures codes in models.py, you did not override "Geometry" type itself to return WKT string, like apiCustomType.py did. In your change, this function, "def __repr__(self):" was performed to get WKT string for FeatureGeometry column, which means ODM2 REST api does not matter with this. Still ge

[2016-02-17 07:29] emiliom commented on #29
Thanks for testing, @cdesyoun. You're correct that I'm not overriding the Geometry type. Instead, I provided a new convenience method on SamplingFeatures that will return a WKT from the FeatureGeometry column. For SamplingFeature `sf`, you can get the WKT string like this: `sf.shape().wkt`. That way you don't have to define and maintain such a conversion function yourself. In addition, be aware th

[2016-02-17 18:51] cdesyoun commented on #29
@emiliom I have focused on overriding only Geometry type. When getting this email, I realized that you put the "shape()" function into SamplingFeature object to return WKT string. Thank you so much to reminding me. When using "sf.shape().wkt" if FeatureGeometry is not null, it worked perfect in ODM2REST API. I updated all of my codes and pushed them into github. Also, I updated testing site.
Now,

[2016-02-17 19:01] cdesyoun commented on #29
@emiliom In addition, in your code,
[code]
When FeatureGemetry typw is null and calling this function, local variable, "geomshape" error was occurred. I think you need to declare it as global variable before this statement, "if _FeatureGeometry is not None:".

[2016-02-17 23:08] emiliom commented on #29
@cdesyoun, I'm really glad the `shape()` function works for you! Thanks also for pointing out the bug when FeatureGeometry is null; you're right, it's a bug. I'll fix this soon, hopefully tonight, and will push the fix to the `sfgeometry_em_1` branch. I'll think about merging that branch into master around Friday.

[2016-02-18 08:17] emiliom commented on #29
I've addressed the bug where null FeatureGeometry was not handled. The fix is in the `sfgeometry_em_1` branch.

[2016-02-18 17:22] cdesyoun commented on #29
@emiliom Great! Thanks.

[2016-02-20 03:38] emiliom commented on #14
Rather than create a new issue, I'll  post below an exchange on this existing issue. It's also related to #29

[2016-02-20 03:42] emiliom commented on #14
*(Feb 12 email from @Castronova):*
I’ve talked with @horsburgh and @sreeder quite extensively about how geometries should be represented within an ODM2 RDBMS, and there are two options that I am aware of:
1. represent geometries as plain text (i.e. WKT)
2. express geometry objects as binary objects within a GIS enabled database.

The first option is easy to implement but will require odm2api to co

[2016-02-20 03:44] emiliom commented on #14
@Castronova, that's very informative. A question: how can I tell if a SQLite database has mod_spatialite loaded? I'm no SQLite pro. I interact with it mostly through the SQLite Manager Firefox add-on, and programmatically through generic api's and utilities. I used it to examine Jeff's Little Bear ODM2 sample file (see #24 and #29 for discussions on that sample file), and couldn't find any referen

[2016-02-20 03:45] emiliom commented on #14
*(@horsburgh wrote on Feb 16)*

My example SQLite database (see #24 and #29) doesn’t use SpatialLite and right now is just storing the geometry as well known text (admittedly with the points in the wrong order as Emilio pointed out earlier, but that I haven’t fixed yet).  It actually pre-dates most of the work we have done on feature geometries more recently.

Stephanie or Tony could fill us in mo

[2016-02-20 03:46] emiliom commented on #14
Thanks for that input. After Tony's message, I came to realize what you've confirmed here, that your SQLite database stores the geometry in WKT. I guess one thing that was throwing me off was the fact that the FeatureGeometry field is still defined as a geometry field, but I guess that's where SQLite's fuzzy data types come into play.

I suspect between shapely and geoalchemy the machinery is ther

[2016-02-20 03:48] emiliom commented on #14
*(@Castronova response from Feb 16):* I've [created an ipython notebook](https://gist.github.com/Castronova/b02f028e0e19b5a663fb) that addresses some of these issues (e.g. fuzzy data types).  I'll be on vacation for the rest of the week, but I will try to stay in contact.

[2016-02-20 03:49] emiliom commented on #14
Thank you! The notebook makes things very clear; thanks so much for all the notes you added. Very helpful to learn about "type affinity". That explains a lot. You clearly are a SQLite pro. I'm not. I'll try to think about this later on.

[2016-03-01 22:43] sreeder opened #31 "High level query functions"
Here is a list of the High level query function that have been requested for the ODM2API

Get Functions:
- [ ] getSamplingFeatureInfo( ) - given a SamplingFeatureID, returns a SamplingFeature object and its list of Results (without data values). Similar to the WaterOneFlow getSiteInfo function

Create Functions:
- [ ] createAffiliations( )

[2016-03-04 07:00] horsburgh commented on #14
@emiliom - I implemented FeatureGeometryWKT in the ODM2 schema as discussed on the phone with @Castronova and @sreeder the other day. I updated the ddl sql scripts in the ODM2 repository and also loaded a new data use case to the ODM2 repository (https://github.com/ODM2/ODM2/tree/master/usecases/WOF_to_ODM2)  with my Python scripts for creating a new ODM2.sqlite database, loading the CVs, and then

[2016-03-17 17:59] horsburgh opened #32 "Consolidate List of API Functions"
After looking at the existing code, we have decided on a major consolidation of the functions in the API to avoid complexity and repetition.  For a description of the planned signatures (inputs and outputs) for each of the functions, [click here](https://github.com/ODM2/ODM2PythonAPI/blob/master/doc/APIFunctionList.md).

Consolidated List of ODM2 API Low-level Get Functions
---
- [x] getActions()

[2016-03-17 18:01] emiliom commented on #32
:+1:

[2016-03-18 17:36] horsburgh opened #33 "Add ability to get objects by UUID"
Modify the functions in the API to accept UUIDs to get objects corresponding to those UUIDs for objects that have them. These include:
* SamplingFeatures
* Results
* Datasets

[2016-03-18 17:38] horsburgh opened #34 "Modify API functions to accept arrays of inputs"
For some of the API methods it makes sense to pass in an array rather than a single item. For example, getSamplingFeatures( ) will accept a SamplingFeatureID as an argument, but it should accept an array of SamplingFeatureIDs.  Need to list which functions and arguments for which this makes sense.

[2016-03-18 17:41] valentinedwv opened #35 "Setup PyPi account for odm2"

[2016-03-24 17:53] sreeder commented on #9
I have created a branch to address this issue, addinheritance. I have added in the inheritance objects to Result types and Sampling Feature types. To aid in queries I have also added polymorphic identities. this makes it so when I query all Results I get back a list of all TSResults, and Measurement result types in the database. I am still working on what information is needed when I try and Creat

[2016-03-24 17:54] sreeder opened #36 "add init function to models"
add init functions to model classes
current creation happens like this
![screen shot 2016-03-23 at 10 18 55 am](https://cloud.githubusercontent.com/assets/4721940/14026172/4c1175c4-f1b7-11e5-9557-eb811edb97c5.png)

I think this would be easier
![screen shot 2016-03-23 at 10 20 10 am](https://cloud.githubusercontent.com/assets/4721940/14026188/533d4648-f1b7-11e5-8b01-b9cdba0db324.png)

or this
![sc

[2016-03-24 18:02] sreeder opened #37 "send list into get functions"
Add the capability to send in a list of ids, or codes, or types to a get query instead of just a single value.
for example calling the function getResults() could look like this,
![screen shot 2016-03-24 at 12 00 19 pm](https://cloud.githubusercontent.com/assets/4721940/14026337/02218944-f1b8-11e5-8679-6e2b303dc43d.png)

or this
![screen shot 2016-03-24 at 12 00 36 pm](https://cloud.githubusercont

[2016-03-24 18:03] sreeder commented on #36
I have created a branch called addinit() to address this issue

[2016-03-24 18:04] sreeder commented on #32
I have created a branch called addqueries to address this issue.

[2016-03-24 18:07] sreeder commented on #32
Per a discussion with @horsburgh  we have decided that the create functions should receive an object, or all required objects, to be added to the database.  createVariables(), will receive a Variables object. but  createActions() will take both an Actions and an ActionBy object, because you won't be creating and ActionBy without an Action.

[2016-03-24 18:08] horsburgh commented on #36
Wouldn't the third option (with named parameters) be more consistent with what we have discussed up to this point for other functions?

[2016-03-30 16:05] sreeder commented on #37
Closed because duplicate to issue #34

[2016-03-30 16:05] #37 closed

[2016-04-01 19:45] valentinedwv opened #38 "Can we delete the odm2api/ODM1_1_1 code?"
Seems to not be maintained.

[2016-04-03 18:17] emiliom commented on #38
I've wondered about that too; mainly about what it's there for if it's not ODM2 per se

[2016-04-04 21:42] sreeder commented on #36
I have currently set up the code so the user has to type the full attribute name.  and it is waiting to be merged in a pull request issue #39

[2016-04-04 21:45] sreeder commented on #9
Ready for testing and is waiting to be merged in a pull request #39

[2016-04-04 22:30] valentinedwv opened #41 "ODMconnection fails for MySQL with No Password"
Courtesy ODMconnection classes restrict drivers, and can cause issues.
dbconnection.createConnection assumes a password, so a password of None causes an error. As does an Empty password ''

self = <tests.test_connection.Connection instance at 0x7f2e3e711e18>
request = <SubRequest 'setup' for <Function 'test_connection[setup0]'>>
    def __init__(self, request):
        db = request.param
        p

[2016-04-04 22:43] #31 closed

[2016-04-06 08:22] sreeder commented on #38
The odm1_1_1 code is intended to help map the odm2 tables into the odm1 schema. So that if someone has used the api to connect to an odm1 database they can seamlessly connect to an odm2 database. We developed this to try and support an odm2 database in our current structure of ODMToolsPython. There are a few key features, like relationships, that don't currently work. It is inactive because we hav

[2016-04-06 16:09] emiliom commented on #38
@sreeder, thanks for the explanation. It sounds like a useful functionality. But:
- Given that there are key features that don't currently work, I suggest at least moving it all into a separate branch soon and keeping it there for the time being.
- More broadly, this seems like a highly specialized capability that probably should be its own package/repository that uses odm2api, rather than a part

[2016-04-07 13:55] ocefpaf opened #43 "Questions regarding the dependencies for the conda package"
@emiliom the current `requirement.txt` is

[code]

The forked `geoalchemy` is easy to solve in a conda package, but I have a few concerns regarding other packages.

- `dateutils` is outdated and unavailable in Python > 2.7. Maybe it is worth revisiting the code that uses `dateutils` and adapt it to a modern library;
- `psycopg2` is commented out and I don't know if it is an optional or mandatory d

[2016-04-07 19:37] emiliom commented on #43
Thanks, @ocefpaf! I'm pinging @sreeder, the main odm2api developer/maintainer, so she can chime in.

- `dateutils`: Completely agree. Let's identify where and how it's used and replace it with something that's widely used and maintained. @sreeder, I can tackle this if you'd like; by tomorrow or Monday.
- `psycopg2`: I didn't know it was unavailable in Windows. I used to use it on Windows up to 3 y

[2016-04-07 19:40] emiliom commented on #43
Ok, re-reading the questions and my answers ... regarding `matplotlib` and `sqlalchemy-migrate`, I see now that they were already commented out months ago, by us! So I assume it's safe to ignore them (and remove them from [requirements.txt](https://github.com/ODM2/ODM2PythonAPI/blob/master/requirements.txt), as they're no longer dependencies; @sreeder, can you confirm?

[2016-04-07 19:40] ocefpaf commented on #43
If that change is not going `upstream` yes. I do recommend you to renamed it.

[2016-04-07 19:45] emiliom commented on #43
It's not.  https://github.com/geoalchemy/geoalchemy ("geoalchemy1") was last updated 3 years ago and is no longer maintained. geoalchemy2 is its replacement, but it focuses only on PostgreSQL, not multiple RDBMS as geoalchemy1 did. We have no intention of taking up that burden; our use and tweak/fix to geoalchemy1 was only a stopgap for our own benefit to allow us to move forward with odm2api. We'

[2016-04-07 19:49] ocefpaf commented on #43
That is up to you. I would rename the repository and the conda package. This is a fork that separated from the original tree. Note that renaming everything comes with an extra maintenance burden. However,  if `ODM2` is the only group using this fork, then renaming just the conda package is fine.

[2016-04-07 19:50] sreeder commented on #43
matplotlib is only being used in the sample file to show a user that they can plot the time series data. so it is not required by the api itself.
I have no idea what sqlalchemy-migrate is used for so I have no issues getting rid of it.
I think dateutils is a requirement of one of our required packages. I don't think there is anywhere that we are using it directly
I didn't know that psycopg2 wasn't

[2016-04-07 19:54] ocefpaf commented on #43
To be honest, if you already have `postgresql` installed, than you can easily install `psycopg2`. (Or you can use one of the wheels out there. I believe it is pip installable now.)

I meant that a conda package for `psycopg2` (that installs its own `postgresql`) is not ready yet.

[2016-04-07 20:01] emiliom opened #44 "Make specific RDBMS packages optional rather than required installs"
odm2api currently requires the Python packages for all the RDBMS that it supports. In the long run, we should work towards making each of the RDBMS packages optional (except for SQLite, but that's a non-issue); users of odm2api who are never going to use, say, postgresql and mysql, shouldn't have to install those dependencies, even if we make their installation trivial as auto-installed dependenci

[2016-04-07 20:02] emiliom commented on #43
re: `psycopg2`, thanks for the clarification.

@sreeder, in the long run, we should work towards making each of the RDBMS packages optional (except for SQLite, but that's a non-issue); users of odm2api who are never going to use, say, postgresql and mysql, shouldn't have to install those dependencies, even if they're easy to install via conda. But this is a separate issue, not a near-term priority

[2016-04-07 20:05] emiliom commented on #43
Thanks. Let's fully get rid of them from requirements.txt.

That rings a bell. It might be in `geoalchemy`. I'll look into it later today and report back.

[2016-04-07 20:08] emiliom commented on #43
Let's rename the conda package only (to `geoalchemy-odm2`), at least for now. We may end up deciding to rename the github repo as well, but that'll be more effort so we'll need more time.

[2016-04-07 23:28] emiliom commented on #43
@sreeder, I'm not finding `dateutils` usage anywhere. I've searched through the code repositories for odm2api, geoalchemy, shapely, pyodbc and pymysql, and didn't find it. I seriously doubt it'd be required by sqlalchemy, pandas or six.

It looks like it's a remnant from something else done previously and it's no longer used by odm2api or its dependencies. If so, cool! @ocefpaf, unless @sreeder, w

[2016-04-08 00:54] emiliom commented on #9
Nice!

[2016-04-08 15:57] emiliom commented on #43
@sreeder, should we go ahead with the conclusion that `dateutils` is not needed at all and should be removed from the requirements?

[2016-04-08 16:12] valentinedwv commented on #38
Circular logic in the code ( I think).
If this API is the base, and future versions of ODM tools will depend on it, then ODM2api can not have dependencies on ODMTools.

I would guess also, that I've mucked up the original code

[2016-04-08 16:20] valentinedwv commented on #41
fixed on setup_clean

[2016-04-08 16:20] #41 closed

[2016-04-08 16:22] valentinedwv commented on #44
Done in the revised setup:
    extras_require={
        'mysql': ['pymysql'],
        'postgis': ['psycopg2'],
        'sqlite': ['pyspatialite >=3.0.0'], # need to look at: http://www.gaia-gis.it/spatialite-2.4.0-4/splite-python.html
        'test': ['coverage'],
    },

No DB dependencies in requirements, and requirements_tests has the DB drivers:
https://raw.githubusercontent.com/ODM2/ODM2Pytho

[2016-04-08 16:27] valentinedwv commented on #43
I think we can remove dateutils. It might have been a dependency in another package.

setup_clean has a good set of dependencies.
https://github.com/ODM2/ODM2PythonAPI/tree/setup_clean

[2016-04-08 16:28] emiliom commented on #43
@valentinedwv, thanks. We'll go with that.

[2016-04-08 16:32] sreeder commented on #43
@emiliom I say go for it. Could you take care of it for me?  I am taking a personal day today, so I am not in the office. Thanks!

[2016-04-08 16:34] sreeder commented on #43
uiuy

[2016-04-08 16:34] valentinedwv opened #47 "Linux MySql requires lower-case-table-names for variable lower_case_table_names"
Took many builds to finally get this right. Create a file with the proper name (for 5.5 it is lower-case-table-names, even though variable is named lower_case_table_names)

[code]

Check

[code]

[2016-04-08 16:36] emiliom commented on #43
Thanks for the heads-up, @sreeder. Yup, we'll take care of it on the conda end. Looks like @valentinedwv has already taken care of it on the `setup_clean` branch he's working on for pypi packaging.

Based on Stephanie being out today, looks like Monday will be the best day to resolve all setup changes and align our pypi and conda packaging efforts. I'll start a new issue about this in a few minute

[2016-04-08 16:40] valentinedwv opened #48 "Use AppVeyor to test MSSQL"
Gave up on getting MSSQL to work on travis.

[2016-04-08 17:02] emiliom opened #49 "Align pypi and anaconda channel packaging and setup efforts"
@ocefpaf and I are working on a new ODM2 anaconda channel for easy, multi-OS distribution of ODM2 packages (odm2api initially, others later on). We have the [ODM2 channel](https://anaconda.org/odm2) already created with odm2api and its dependencies, already installable on Linux and OSX (some Windows glitches are being worked on).

@valentinedwv is working on PyPI packaging, and [already has this o

[2016-04-08 18:12] emiliom commented on #49
The packaging and setup experts here are probably @ocefpaf and @valentinedwv (definitely not me!). So I think the first step is probably to have @ocefpaf review the setup changes from @valentinedwv in his PR; [see my brief comment on it](https://github.com/ODM2/ODM2PythonAPI/pull/46#issuecomment-207152718). If we can get agreement between the two of you on `requirements.txt`, `requirements_tests.t

[2016-04-08 18:17] ocefpaf commented on #49
Sure. I will get to it later today early tomorrow.

[2016-04-08 18:24] emiliom commented on #49
Great!

[2016-04-08 21:30] valentinedwv commented on #49
For YodaTools, can you add this package to conda:
valideer

[2016-04-09 06:54] horsburgh commented on #38
The point is that we developed the first versions of ODM Tools Python based on ODM 1.1.1 - because ODM2 was not ready and we needed ODM Tools Python.  Our desire is to have a single ODM Tools codebase that works with both ODM 1.1.1 and ODM2 databases. Our approach was to develop code that made time series data coming from an ODM2 database look the same as if it came from an ODM 1.1.1 database. Thi

[2016-04-09 19:28] emiliom commented on #38
I don't have any at this point :(  Besides, I'm not familiar with the ODM Tools code base proper.

But I'll go back to my comments from a couple of days ago regarding the relationship of the ODM 1.1.1 code base with odm2api:
- Given that there are key features that don't currently work, I suggest at least moving it all into a separate branch soon and keeping it there -- and doing development there

[2016-04-11 21:21] emiliom commented on #35
This is done, isn't it? If true, let's close it.

[2016-04-11 21:22] emiliom commented on #34
@sreeder, this has been fully implemented, right? Let's close it.

[2016-04-11 21:27] emiliom commented on #17
How about planning to move forward on @valentinedwv's suggestion to move this stuff to extras ("as done in [wofpy setup.py](https://github.com/ODM2/WOFpy/blob/master/setup.py)")? Maybe late this week or next week, after @sreeder's `Dev1_0` branch is merged?

[2016-04-11 21:28] sreeder commented on #34
@emiliom, I actually haven't implemented it yet. It is what I am working on now though.

[2016-04-11 21:30] emiliom opened #50 "Dev1_0 branch ready for merging into master?"
@sreeder, is the `Dev1_0` ready for merging into master? Or are you planning to do more testing? Would be great to have it merged by the end of the week. We can then issue a new `odm2api` release and update the [conda package](https://anaconda.org/odm2/odm2api). Thanks!

[2016-04-11 21:30] emiliom commented on #34
Ok. For some reason I thought this was one of the many new capabilities now in your Dev1_0 branch.

[2016-04-11 21:42] valentinedwv commented on #35
Ideally, need a common email and some others to register so we can setup more than one admin.

[2016-04-11 21:44] emiliom commented on #35
Ok.

[2016-04-13 16:10] sreeder commented on #34
@emiliom there has been a pull request created to address this issue. So if it is approved we can close this issue. Thanks

[2016-04-13 19:46] sreeder commented on #38
@emiliom  @valentinedwv I am going to remove the ODM1 code from the repository, should I also remove the ODM2 folder and just put the models and services code straight into the odm2api folder, or do we want to keep the hierarchy?

[2016-04-13 20:19] valentinedwv commented on #38
Yes to deleting the ODM1 code. It's preserved in the pre-alpha branch.
The hierarchy is there... I prefer some of a hierarchy.
Tired of long files of python code. I'd like models broken up into more functional pieces

[2016-04-13 20:33] emiliom commented on #38
:+1: to deleting the ODM1 code (I assume you've already discussed it with @horsburgh).

I agree that hierarchy is better. But the specific hierarchy we're left with (`ODM2`) may not have the most useful names and groupings, so it's worth rethinking.

I'm tied up with other things right now (including, by tomorrow, looking at @sreeder's https://github.com/ODM2/ODM2PythonAPI/pull/51). So, as a short

[2016-04-14 17:25] emiliom commented on #34
@sreeder, I haven't looked at your PR yet (hopefully late today). But I would say that it'd be more user friendly if *either* a scalar or a list can be passed as the argument. I think this is what @horsburgh [was saying when he opened this issue](https://github.com/ODM2/ODM2PythonAPI/issues/34#issue-141932657). It should be fairly easy to implement this via a type check and turning scalar argument

[2016-04-14 19:13] horsburgh commented on #34
@emiliom - we discussed this yesterday and we arrived at just using a list.  A list can have one item right?

[2016-04-14 19:14] emiliom commented on #34
Of course. But allowing for a scalar argument is a bit more user-friendly, that's all.

[2016-04-14 19:25] valentinedwv opened #52 "CreateService Session closes on failed create"
Adding tests based on @Castronova branch, and seeing that if a constraint is invalid, that the session becomes invalid.

Need to see check is the session is still open before attempting to create.
[code]

[code]

[2016-04-14 20:10] horsburgh commented on #34
I know - but there's an argument for consistency too.

@sreeder - what's your call on how difficult it would be to do both?  Should we do this now or should we make this a feature request for another version?

[2016-04-14 20:15] emiliom commented on #34
Potato potatoh :)

No worries, I won't belabor this. It was just an opinion, and not a strong one. It sounds like you two really prefer to stick with list arguments, so just go with that.

[2016-04-14 20:37] valentinedwv commented on #32
getRelatedModels()

Pass a ModelID - get a list of model objects related to the model having ModelID
Pass a ModelCode - get a list of model objects related to the model having ModeCode

Question that needs to be answered:
1) Is this getting the children of ModelID, aka I have model XXXX, what models are related?
or
2) all parents of a model with modelID

Functioning as #2. I think it should be #1

[2016-04-14 21:36] valentinedwv opened #54 "MSSQL FreeTDS Linux issues"
Figure out how to get FreeTDS working on a linux machine.

Present code works on a mac (or soon to be reverted code)

[2016-04-15 05:31] valentinedwv commented on #52
Digging (looking into random failures)
[code]

Then all Service classes need to use getSession(), rather than self._session

[2016-04-15 15:13] horsburgh commented on #32
@valentinedwv and @sreeder - shouldn't the "GetRelatedX" functions return both parents and children (e.g., anything with a relationship to the object with ID or Code that was passed in)? We could move this to a separate issue to fix after merging and releasing the current dev branch that includes all of this work.

[2016-04-15 16:03] valentinedwv commented on #52
This is from the turned on test_odm2.py/test_sessionNotFailed

[code]

[2016-04-15 16:23] valentinedwv opened #55 "Add finalizers to avoid Random Travis CI failures"
see test_odm2.py

grab the session, invalidate at end of test

======
  s = session_factory.getSession()
  def fin():
        print ("teardown odm2 test connection")

        s.invalidate()

    request.addfinalizer(fin)

[2016-04-15 16:23] #55 closed

[2016-04-15 17:51] horsburgh opened #56 "Add function to populate/update CVs in an existing database"
There is a script in the ODM2 repository now that does the initial population of the CVs for a blank ODM2 database. We should add a function to the ODM2 API that updates the CVs:

UpdateCVs(IncludeUnits = "True")

There should be an option for including the Units (or not) since it is not a CV. We might also want to add a flag that specifies what to do with terms that might be in the database, but

[2016-04-15 18:33] valentinedwv opened #57 "Add Backpopulate to relationships"
http://docs.sqlalchemy.org/en/rel_1_0/orm/basic_relationships.html

This would allow use to expose the children as a field in the parent.

[2016-04-15 20:25] emiliom commented on #56
https://github.com/ODM2/ODM2/tree/master/src/load_cvs

[2016-04-15 20:34] emiliom commented on #56
I'd thought about that script, too, and how to pull it out the ODM2 repo and make it more visible/accessible.

A couple of comments:
- Currently it doesn't use `odm2api`. So while it has similarities in function to some of what odm2api does, it's actually completely independent.
- Browsing the code, I think all the "CV Objects" definitions are doing the same thing already being done in odm2api. If

[2016-04-15 20:44] emiliom commented on #50
With PR https://github.com/ODM2/ODM2PythonAPI/pull/51 now merged into `Dev1_0` (thanks!!), is `Dev1_0` ready for merging into master?

Before or after that merge we could also move forward with #38 by removing the `ODM1_1_1` stuff, now that @sreeder has preserved it in the [odm1dev](https://github.com/ODM2/ODM2PythonAPI/tree/odm1dev) branch.

[2016-04-15 20:46] emiliom commented on #49
@ocefpaf and @valentinedwv, you've put a lot of effort into stuff related to this. Would you say that we're in good shape now with respect to setup, requirements, packaging and pypi vs conda? If so, we can close this issue.

[2016-04-15 20:51] sreeder commented on #50
@emiliom  I am working on merging Dev1_0 now, but it will break all of the testing stuff so I am pulling the code from master into my branch, fixing the tests, then merging it back into master.

[2016-04-15 20:54] emiliom commented on #50
Got it, thanks.

[2016-04-15 20:55] sreeder commented on #50
@emiliom  I have started removing `ODM1` in the [removeODM1] (https://github.com/ODM2/ODM2PythonAPI/tree/removeODM1) Branch. I still have some things to fix but should be able to get that done by Monday as well.

[2016-04-18 18:35] emiliom commented on #50
@sreeder, that's great! I'm really looking forward to this.

[2016-04-18 21:20] valentinedwv commented on #52
I think we will need to do a try-exception block, with session.rollback if things do not work.
Or is there an object.isValid command that can be run before commiting

[2016-04-19 23:13] Castronova opened #59 "Python 3.4.3 Geoalchemy Error"
Attempting to install odm2api on a CentOS 7 machine that is running Python 3.4.3 using the source code from the [python 3.x compatibility](https://github.com/ODM2/ODM2PythonAPI/pull/58) pull request.  While the odm2api installs fine, it is dependent on **geoalchemy** which raises the following ImportError:

[code]

This is documented as geoalchemy issue [#41](https://github.com/geoalchemy/geoalche

[2016-04-19 23:20] emiliom commented on #59
Thanks for reporting this issue and researching the solution, @Castronova.

We have [our own fork of geoalchemy](https://github.com/ODM2/geoalchemy/) just for cases like this one, to be able to make critical fixes. I can take care of this.

Cool to see that people are starting to test against Python 3.x. But we mostly had not done any testing on 3.x, so it's not surprising that multiple issue are

[2016-04-19 23:28] valentinedwv commented on #59
@emiliom add me as admin odm2/geoalchemy so that I can enable the existing travis build.

[2016-04-19 23:38] emiliom commented on #59
@valentinedwv, I've sent you an invitation to an admin team I created. That should do it, but let me know if it doesn't.

[2016-04-20 01:06] miguelcleon commented on #59
Yes, I ran into this also, I hadn't realized it had to do with Python 3.x vs Python 2.x

[2016-04-20 15:58] ocefpaf commented on #49
:+1:

There is always room for improvement, but it is much better now! Thanks @valentinedwv!!

[2016-04-20 16:00] emiliom commented on #49
Great, thanks. Closing now.

[2016-04-20 16:00] #49 closed

[2016-04-21 07:02] emiliom opened #60 "Remove unused ODM2.apiCustomType.py and ODM2.models_sqlite.py"
It's been [mentioned](https://github.com/ODM2/ODM2PythonAPI/issues/#27#issuecomment-174112296) [before](https://github.com/ODM2/ODM2PythonAPI/issues/27#issuecomment-174607152), back in January and earlier, that `ODM2.apiCustomType.py` and `ODM2.models_sqlite.py` are no longer used.

@sreeder, can we remove them? Or just park them in a branch. FYI, I think @cdesyoun previously said that he created

[2016-04-21 07:03] emiliom commented on #27
The topics brought up here have been addressed, or moved elsewhere (eg, #60). So, I'm closing this issue.

[2016-04-21 07:03] #27 closed

[2016-04-22 18:41] valentinedwv commented on #59
Not quite a simple as we could wish.
python3 branch for ODM2PythonAPI.
Geoalchemy need to get the 'generic' working on 3.x (others busting due to insert issues with the comparator)
maybe strip out oracle?
0.49s$ if [[ "$DB" == "generic" ]]; then python geoalchemy/tests/test_dialect.py; fi
Traceback (most recent call last):
  File "geoalchemy/tests/test_dialect.py", line 15, in <module>
    from ge

[2016-04-22 19:17] sreeder commented on #60
@emiliom these have been removed in the pull request #61

[2016-04-22 19:36] emiliom commented on #60
Great!

[2016-04-23 06:40] #60 closed

[2016-04-23 06:42] emiliom commented on #50
Merged. Closing.

[2016-04-23 06:42] #50 closed

[2016-04-23 06:43] emiliom commented on #33
@sreeder, we can close this issue, right?

[2016-04-28 17:40] valentinedwv opened #62 "Determine if marshmallow will enable validation in ODM2Api"
Right now the DB is used to enforce the validation, this means the models must be committed to a DB.

Would using Marshmallow allow for pre-commit validation of an object.
https://github.com/marshmallow-code/marshmallow-sqlalchemy

[2016-04-28 18:20] miguelcleon opened #63 "error with psycopg2, connecting to postgresql database"
Hi, I tried to follow the instructions to install ODM2PythonAPI via the conda package but I received an error. psycopg2 for connecting to a postgresql database can be a pain to install not sure about including it in a conda package, I don't have experience with them.

[code]

[2016-04-28 18:24] emiliom commented on #63
psycopg2 installed on Ubuntu linux when I installed the odm2api conda package. But I know there were temporary problems a couple of weeks ago with the creation of the conda package for psycopg2 on Windows. I figured they had been solved.

Pinging @ocefpaf to ask about the status of `psycopg2` conda package on Windows.

[2016-04-28 18:30] ocefpaf commented on #63
`psycopg2` with `Postgresql` is not OK on Windows yet. We could install the wheel, but ideally we should ship it with `Postgresql`.

See: https://github.com/conda-forge/staged-recipes/pull/291

I will add a workaround version at the ODM2 channel using the wheel and, once the conda-forge package is ready, we can change it.

[2016-04-28 18:52] emiliom commented on #63
Ah, ok. Thanks for the temporary work around. Let us know (here, I guess) when it's available.

[2016-04-28 18:53] ocefpaf commented on #63
See https://github.com/ODM2/conda-recipes-ODM2/pull/32

[2016-04-28 20:59] #63 closed

[2016-05-01 23:00] emiliom opened #64 ""Milestone 0.6.0" - Prioritizing next batch of improvements, cleanups"
Let's see if using Milestones can help us organize our distributed contributions. These are my suggestions, not a definitive, consensus Milestone features. Some of these may already be implemented, but either the corresponding issue isn't closed or I didn't check thoroughly.

[For Milestone 0.6.0](https://github.com/ODM2/ODM2PythonAPI/milestones/0.6.0):

## Assessment and extension of class inheri

[2016-05-13 17:34] Castronova opened #65 "getAffiliation always returns None"
There is a bug in `readService.getAffiliation` that causes it to always returns None.

[code]

to fix, change the `PersonLastName` filter to:

[code]

Additionally, the following exception is raised `AttributeError: 'Affiliations' object has no attribute 'all'`, but the user is not informed because all of the api functions return None without any error message.  Is there a reason for this?  The fu

[2016-05-13 19:55] Castronova opened #66 "Get methods return incorrect"
related to #65

[code]

The query is not being returned.  change `q.all()` to `return q.all()`

[2016-05-13 21:05] Castronova opened #67 "Cannot create Action or Actionby"
The `ActionBy` class is a required input to the `createAction` function and `ActionID` is required to create an instance of the `ActionBy` class.  Unfortunately, I cannot get an `ActionID` without inserting an action into the database.  Is this a mistake, or am I missing something?  Are there any examples of how this is supposed to work?

**models.py**

[code]

**createService.py**

[code]

Below

[2016-06-29 19:02] #32 closed

[2016-06-29 19:02] #33 closed

[2016-06-29 19:02] #34 closed

[2016-06-29 19:02] #36 closed

[2016-09-05 23:09] emiliom opened #70 "Add optional geospatial functionality"
The recent PR #69 completed the removal of all geospatial capability (even optional ones) around `SamplingFeatures.FeatureGeometry` that [started with a commit in early June](https://github.com/ODM2/ODM2PythonAPI/commit/f89d58369a7e2cfdc7ac8179af87d1914fbe05df#diff-0ee3d0270e8061c9eb0e712c2e83d27a) that removed the `shape` method on the `models.py` `SamplingFeatures` class and related, geoalchemy-

[2016-09-06 18:57] horsburgh commented on #70
@emiliom - thanks for capturing this. We really needed to move forward with the API for several reasons and the geospatial stuff was holding us back. We just hadn't been able to figure it out. So, if we can get some help with this and figure out how to add it back in with support across the RDBMS, that would be awesome.

[2017-01-17 15:20] aufdenkampe opened #71 "Prepare for pip install setup and conda recipe"
As referenced in https://github.com/ODM2/WOFpy/issues/61, we need @valentinedwv to work with @horsburgh & @sreeder to prepare GitHub releases for corresponding PyPi releases, then communicate with @emiliom & @ocefpaf so that they know to update the Conda recipes.

My understanding of the current situation is that:
* The present an only PyPi release (https://pypi.python.org/pypi/odm2api/0.5.2) was

[2017-01-17 16:58] emiliom commented on #71
A couple of quick comments:
- For conda packaging we work off a github tagged release rather than a pypi package. That's what @ocefpaf recommended in a recent chat (@ocefpaf, please chime him otherwise!). Once I'm pinged that a github release is ready, I'll get things rolling on the conda packaging
- All previous odm2api github releases have been carried out by @sreeder, with input or the ok (I th

[2017-01-17 17:12] ocefpaf commented on #71
That is desirable.

That is correct @emiliom. Mostly to avoid the issues like the one above. Usually, for GitHub hosted projects, we consider the GitHub release as the canonical one.

Feel free to ping me too.

[2017-02-02 03:46] emiliom commented on #70
Just for reference: two older issues with relevant discussions are #29 and #14. But specially #29!

Also note my old references to my `sfgeometry_em_1` branch from Feb. 2016. That branch no longer exists on the github repo, but I probably still have it around on my local clone.

[2017-02-28 18:27] emiliom commented on #70
Just saw this 1-year-old commit to [ODM2RESTfulWebServices](https://github.com/ODM2/ODM2RESTfulWebServices) that's relevant to this topics/issue. I'm adding a [link to it here](https://github.com/ODM2/ODM2RESTfulWebServices/commit/a94eeaf49d59b93500125aed58542f884b1fa0e2) for reference, to follow up once we focus on this topic in `odm2api`.

[2017-03-14 21:13] sreeder commented on #59
We have added a new column FeatureGeometryWKT to the schema so that we can bypass using any of the geometry functions required by FeatureGeometry. Should we consider removing geoalchemy as a required dependency for the API since we are not currently supporting the Geometry type?

[2017-03-14 21:20] emiliom commented on #59
`geoalchemy` (and `shapely`) were already removed as dependencies last year ... mostly. It was removed from the conda packaging [requirements.txt](https://github.com/ODM2/ODM2PythonAPI/blob/master/requirements.txt). But it appears that it may still be present as a dependency for PyPI packaging, in [setup.py](https://github.com/ODM2/ODM2PythonAPI/blob/master/setup.py) under `dependency_links`

@oce

[2017-03-14 21:38] ocefpaf commented on #59
Sure. I'll look into this first thing tomorrow.

[2017-03-15 04:35] horsburgh commented on #59
+1 for removing geoalchemy for now.

[2017-04-03 20:47] emiliom opened #75 "Problems with queries on SQLite with polymorphic classes or explicit joins"
@sreeder, @horsburgh, @Castronova:

I hadn't worked with SQLite ODM2 databases and odm2api in a long time, until recently (last month). @lsetiawan and I tried `WOFpy` with the LBR SQLite sample database, and ran into errors that impact queries with explicit joins, or polymorphic objects such as `Sites` and `TimeSeriesResults` that inherit from base classes (for those two examples, that would be `S

[2017-04-13 18:20] emiliom commented on #75
We talked about this briefly at the last BiGCZ call last week. It's not a high priority right now, but it'd very nice to start accumulating examples that do work. @horsburgh mentioned that @Castronova may have some Jupyter notebooks, even if HydroShare proper doesn't use odm2api to interact with its ODM2 SQLite timeseries resources.

Anything any of you (@sreeder, @horsburgh, @Castronova) could sh

[2017-04-13 18:46] horsburgh commented on #75
Following up with @Castronova to see if the HydroShare examples still work so we can post links.

[2017-05-10 17:25] emiliom opened #79 "Create PyPI package from new release (0.5.3-alpha)"
New odm2api [release (0.5.3-alpha) is out](https://github.com/ODM2/ODM2PythonAPI/releases/tag/v0.5.3-alpha), and the conda package has been updated.

There's interest in creating a PyPI package for this release. @ocefpaf, are you able to help with that? I know PyPI is not your strength.

FYI, @valentinedwv created an [odm2api PyPI package](https://pypi.python.org/pypi/odm2api/0.5.2) about 6 months

[2017-05-10 17:39] ocefpaf commented on #79
Nope.

It is not about strength :smile: I need the credential for https://pypi.python.org/pypi/odm2api

After that is is a matter of issuing `python setup.py sdist --formats=gztar upload` from the proper updated branch. I can even automate that using Travis-CI and tagged releases.

[2017-05-10 17:46] emiliom commented on #79
Ok, so we just need the credentials from @valentinedwv.

But to be clear, I'd like you to double check that the requirements/setup configs are "fine" for issuing a PyPI package from the latest tagged release. They probably are, but a second look won't hurt.

[2017-05-10 18:30] ocefpaf commented on #79
They are OK. I will rebase and re-organize #74 to ensure that we don't need to worry about that in the next release.

[2017-05-10 18:35] valentinedwv commented on #79
added ocefpaf to odm2api and wofpy

[2017-05-10 19:31] emiliom commented on #79
Thanks, Dave!

I'm now registered as "emiliom"

[2017-05-10 19:33] emiliom commented on #35
Done. See #79. Closing.

[2017-05-10 19:33] #35 closed

[2017-05-11 16:24] #79 closed

[2017-05-11 16:27] emiliom commented on #71
Closing. Superseded and addressed by #79

[2017-05-11 16:27] #71 closed

[2017-05-25 15:43] emiliom commented on #70
Adding a link to PR #72 (removed dependencies to geoalchemy and shapely), which we just merged. It includes some possibly useful comments, PR's, etc.

[2017-05-25 15:46] emiliom commented on #38
Closing. Addressed by PR #81

[2017-05-25 15:46] #38 closed

[2017-05-28 00:50] ocefpaf opened #83 "Use versioneer"
Implement versioneer and write up some docs on how to issue releases.

[2017-06-13 16:54] #83 closed

[2017-07-04 15:05] ocefpaf opened #87 "Cache conda packages in Travis-CI"
This should reduce the overall test time.

[2017-08-09 14:07] ocefpaf opened #88 "Travis-CI is broken due to a new image"
Travis-CI changed from a `Ubuntu precise` image, which reached the EOL, to the `Ubuntu Trusty`, the new LTS image. See https://blog.travis-ci.com/2017-07-11-trusty-as-default-linux-is-coming

This change caused some breakages in the testing framework b/c it relied on packages from `apt` that are no longer available in the new image. The options are:

1. pin to the older image for as long as Travis

[2017-08-15 21:36] #87 closed

[2017-09-05 21:18] smrgeoinfo opened #94 "Documentation for the python objects returned by the API"
Is there any documentation for the structure/data type of the objects returned by the API calls?

[2017-09-06 14:28] horsburgh commented on #94
@smrgeoinfo - to my knowledge, not yet. @sreeder has put together a list of the currently available functions in the API that I need to update in this repo, but we don't have the objects documented yet. However, they follow pretty closely the structure of the ODM2 schema. @sreeder should be able to answer any specific questions you may have.

[2017-09-26 17:53] lsetiawan opened #95 "getAffiliations `personfirst`, `personlast`, and `orgcode` not working."
The query for Affiliations based on `personfirst`, `personlast`, and `orgcode` doesn't seem to be working. When I enter those parameters, I get everything, rather than the Affiliation with the specified filtering.

I think the problem is that the [code](https://github.com/ODM2/ODM2PythonAPI/blob/master/odm2api/ODM2/services/readService.py#L557) is trying to filter, but since the values are not in

[2017-09-26 22:03] emiliom commented on #95
Fixed by PR #96. Closing.

[2017-09-26 22:03] #95 closed

[2017-09-27 22:45] lsetiawan opened #97 "Documentation standard?"
I notice that docstrings of functions and classes are a bit confusing. And issue #94 points out that there isn't really a built in documentation for the objects returned by the api calls.

After looking at various popular python libraries out there, it seems like a lot of them follows the Numpy/Scipy docstring [documentation style](https://github.com/numpy/numpy/blob/master/doc/HOWTO_DOCUMENT.rst.

[2017-09-27 23:00] emiliom commented on #97
:+1: thanks @lsetiawan and @ocefpaf.

FYI (to others), Filipe, Don and I discussed this yesterday. The system we'll implement will be tied into Travis CI so that docs are autoupdated, and will also be versioned with each tagged release. Don is taking the first steps to set up this system. Stay tuned!

[2017-09-27 23:08] ocefpaf commented on #97
I try to but I may not be consistent there. Lately I'm using a more terse and simple style, see https://github.com/ocefpaf/erddapy/blob/master/erddapy/erddapy.py

However, both are fine, I don't really have a preference here.

[2017-09-28 19:43] ocefpaf opened #101 "Docs uploads are failing"
@asmeurer and @gforsyth if you have some time can you take a quick look at my config here?
I guess I may be doing something stupid, but I was not able to configure `doctr` properly for this project. I am using 1.6.1 btw.

[code]

[2017-09-28 20:43] asmeurer commented on #101
Did this just start failing after the doctr release?

[2017-09-28 22:24] asmeurer commented on #101
In the past, that error sometimes is intermittent and goes away after rebuilding. If not, you can usually fix it by regenerating the deploy key with `doctr configure`.

[2017-09-29 14:04] ocefpaf commented on #101
No, this is a new deployment that did not use `doctr` before. (I followed the same workflow as the oher deployments I made with the previous version though.)

I changed the the position of the \` the first time, b/c if I copy-n-paste `doctr`'s screen output it fails

`doctr` suggests:

[code]

I had
[code]

See https://github.com/ODM2/ODM2PythonAPI/compare/bc9a2589ee39...fa8081e154bc

Also, the ne

[2017-09-29 14:22] ocefpaf commented on #101
@asmeurer it turns out the the \` is not needed at all.

[2017-09-29 14:22] #101 closed

[2017-09-29 15:31] lsetiawan opened #102 "Google docstring standard not rendering correctly."
@ocefpaf I tested out the docstring on my latest change #98. But `Args` doesn't seem to be rendering correctly.. Should I add `*` or `-` to make it a list?

<img width="665" alt="screenshot 2017-09-29 08 26 48" src="https://user-images.githubusercontent.com/17802172/31023374-78abc15a-a4f0-11e7-94e7-98563db2ebf5.png">

[2017-09-29 15:34] ocefpaf commented on #102
Let me check it locally.. Hold on. (sphinx is very annoying with the indentation.)

[2017-09-29 15:35] lsetiawan commented on #102
I did this on the `.rst`

[code]

[2017-09-29 16:14] #102 closed

[2017-09-29 19:32] lsetiawan opened #106 "Docstring Conventions"
This Issue follows up https://github.com/ODM2/ODM2PythonAPI/pull/105#discussion_r141936709.

There has to be a set of conventions that we should follow when writing docstring within the functions and classes.
- [X] Follow the google style documentation as discussed in #97. Official example [here](http://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html)
- [X] Don't say `defaults

[2017-09-29 19:59] lsetiawan commented on #106
@emiliom Do you think that it's necessary to add Examples to docstring for every function under ReadODM2?

[2017-09-29 20:02] ocefpaf commented on #106
@emiliom one topic we did not discussed is how to use the `example` section of the docstrings, specially for the classes methods.

For example, when adding an example for one can:

1. add a simple overarching to the `class` docstring only;
2. add a fragment example to each method;
3. add a full example to each method.

(1) is a good idea when the methods docstrings a self-explanatory and examples

[2017-09-29 21:07] emiliom commented on #88
@ocefpaf, can we close this issue?

[2017-09-29 21:22] ocefpaf commented on #88
We are pinned to the old image and that one can go away without much warning, so I'd rather keep this opened to remind us to address the migration to the new one.

PS: I am running tests every since to try to figure out how to fire up the database in the new Image in my fork. See the `test` an `appveyor` branches. I hope to have a PR soon.

[2017-09-29 21:23] emiliom commented on #88
Thanks. I was just going over some old issues, for no particular reason than to clean up.

[2017-09-29 21:58] emiliom commented on #94
pinging @smrgeoinfo @horsburgh @aufdenkampe

Following up on a discussion at the BiGCZ call this week, @lsetiawan, @ocefpaf and I (but specially Don and Filipe) got busy to implement Sphinx-based auto-generation of API and other package documentation for odm2api. We have a first *crude draft* version in place!
http://odm2.github.io/ODM2PythonAPI/

Lots more to do, but this is already a vast improv

[2017-10-02 03:27] horsburgh commented on #94
Thanks for making progress on this @emiliom and @lsetiawan. It will be great to have a look at what you have done this week and have a quick walk through. We are at a bit of disadvantage until @sreeder is back from maternity leave, but after that I think she could help take any documentation she's got and help flesh things out.

[2017-10-02 06:48] emiliom commented on #106
I think they're helpful and we should build towards having them. But one step at a time. First step is documenting the parameters; some of that documentation is already there, but the first step is really to confirm that text is correct (fix it if it isn't), and fix the format to match the Sphinx Google style structure.

@ocefpaf, can you add short examples to your comment, to illustrate each of t

[2017-10-02 06:55] emiliom commented on #94
Yup, on Tuesday at the BiGCZ call.

No worries at all. We've laid out the workflow, and the Sphinx system will already expose the API structure and parameters in a much more easily accessible way (where before you had to navigate the code and/or look up static, external documents). Don and I will expose manually crafted function/method/class text ("docstrings") that's already there, and add some h

[2017-10-02 07:18] emiliom commented on #106
### Summary of overall Sphinx documentation system that's been implemented

Sorry to add stuff here that's not about the docstring convention per se. Ignore this. It's a placeholder (for me, or us) for reference, to summarize from our recent emails (or maybe I should create a markdown document somewhere else?):
- We're using Sphinx with the Napoleon extension. docstrings are in ReST markup, not ma

[2017-10-02 11:36] ocefpaf commented on #106
Sure.

1. add a simple overarching example to the `class` docstring only;

[code]

2. add a fragment example to each method;

[code]

3. add a full example to each method.

[code]

[2017-10-02 11:38] ocefpaf commented on #106
It is in place. We just won't build the old versions. As soon as a new release is tagged we branch that version and we'll get the docs in a page like, `http://odm2.github.io/ODM2PythonAPI/docs-{{ version }}`

[2017-10-03 20:03] #88 closed

[2017-10-10 18:38] ocefpaf opened #115 "Avoid the use of builtins"
`ODM2PythonAPI` uses obfuscate Python builtins in some places.

The links belong point to two blocks of code that use the reserved word `type`.

[odm2api/ODM2/services/readService.py#L81-L121](https://github.com/ODM2/ODM2PythonAPI/blob/master/odm2api/ODM2/services/readService.py#L81-L121)
[odm2api/ODM2/services/readService.py#L365-L390](https://github.com/ODM2/ODM2PythonAPI/blob/master/odm2api/ODM

[2017-10-11 15:58] lsetiawan commented on #106
I am going to continue on models doc discussion here from https://github.com/ODM2/ODM2PythonAPI/pull/111#discussion_r143981602.

This is what the samplingfeatures doc look like:

![screenshot 2017-10-11 08 55 06](https://user-images.githubusercontent.com/17802172/31451859-1ffeed36-ae62-11e7-9e4d-0a991e1772ba.png)

@emiliom Do we want docs for each of the Sampling Features Attributes or just a list

[2017-10-11 18:07] emiliom commented on #106
Thanks. @lsetiawan and I have discussed this. We'll keep those additions for now, and make a decision later about whether to add docstrings to class properties (and methods?).

[2017-10-13 19:41] lsetiawan opened #117 "getDataSets query mistake"
A mistake in `getDataSets` function is causing a failure when querying datasets by  UUIDs.

https://github.com/ODM2/ODM2PythonAPI/blob/1010c1e88bf2b4cf71c67eb3bfd964e2169cb37e/odm2api/ODM2/services/readService.py#L687

[2017-10-13 19:47] emiliom commented on #117
Yikes! It's surprising that's not a fatal bug (ie, the module should not work).

But it looks like an easy fix.

[2017-10-13 19:52] lsetiawan commented on #117
Yepp, I have a fix

[code]

But, I am still debating whether to merge the big PR or not. I don't have a quick mechanism to test createServices, and there's not really much test for that. So I don't think I'll make further code changes until that's merged, might just wait for Stephanie. Meanwhile, I'll place my changes as issues.

[2017-10-13 19:59] emiliom commented on #117
?? I gave the go-ahead on that, and I don't remember you expressing any objections. So what's changed? (we can discuss over email). I'm happy to merge myself right now :smiley_cat:

True, but it's obvious there's a bug, and the fix is obvious too. So I don't see any down side to submitting a PR to fix this now, while you're looking at it.

I'll merge the big PR myself in about 15 minutes, unless y

[2017-10-13 20:08] lsetiawan commented on #117
I just haven't tested other parts of the code and haven't tested the code thoroughly. I mean there's some tests in travis, but that's not everything, I see that a lot of the createService are skipped. So idk, I guess we will fix any bugs from this PR as it comes so far, for what I need it is working. And we can always see the previous changes.

Just don't want to give more rebasing complication. 😛

[2017-10-13 20:15] emiliom commented on #117
Ok. I won't merge. Let's discuss on Monday morning and decide then whether to merge the big PR.

[2017-10-13 20:20] lsetiawan commented on #117
Alrighty, I'll take a look at the changes again, I haven't finished going through them all.

[2017-10-13 20:22] emiliom commented on #117
Ok. But it can wait till Monday, if need be.

[2017-10-24 04:19] lsetiawan opened #118 "Issue with MSSQL ODM2 database when querying various endpoints"
*Posted by @Elijahwalkerwest originally on the ODM2 repo ([here](https://github.com/ODM2/ODM2/issues/143)). Reposted here.*

When querying various tables with an MSSQL database, returning this error:

TypeError at /v1/samplingfeatures/
'NoneType' object is not iterable

Request Method: GET
Request URL: http://127.0.0.1:8000/v1/samplingfeatures/
Django Version: 1.11.6
Python Executable: C:\ProgramD

[2017-10-24 04:19] lsetiawan commented on #118
Let me elaborate a bit about this Issue. It may seem like this is an error on ODM2RestAPI, but it's actually an error that occurs when querying using ODM2PythonAPI against MSSQL. I am not sure what's going on, I do not have a way to test with MSSQL.

With Postgresql and Mysql the function to query samplingfeatures works just fine. Thanks.

[2017-10-24 17:22] emiliom commented on #117
@lsetiawan, if you have any time this week (probably not?), let me know if you feel we can move forward with the fix identified in this issue:
[code]
If you think we can move forward, I can prepare and submit the PR this week.

[2017-11-01 17:27] lsetiawan opened #120 "Need new read function samplingfeaturesdatasets"
## SamplingFeatureDatasets
### Description
Retrieve a list of sampling features along with metadata about their associated datasets.
### Returns
List of sampling feature objects along with their associated datasets
### Available Query Parameters (must specify either samplingFeatureID OR samplingFeatureUUID OR samplingFeatureCode)

- samplingFeatureID: return sampling features for a list of samplin

[2017-11-01 17:37] horsburgh commented on #120
@sreeder is back today, so I'm assigning this to her.

[2017-11-01 17:49] lsetiawan commented on #120
Sounds good! Thanks @horsburgh. @sreeder Please let me know when you have this ready so I can implement it. 😃

[2017-11-10 17:33] lsetiawan commented on #120
Already created. See #121. Closing.

[2017-11-10 17:33] #120 closed

[2017-11-17 00:28] SRGDamia1 opened #124 "Add related-sampling-features object methods"
ie., give a sampling feature object a method like "get related sampling features."

[2017-11-21 19:14] lsetiawan opened #126 "`categorical` Result Type doesn't exist based on vocab database."
Based on ODM2 Vocabulary Repository for Result Types, I don't see anything with `Categorical`, but python api is using it. The closest thing I see is [`Category observation`](http://vocabulary.odm2.org/resulttype/categoryObservation/)

https://github.com/ODM2/ODM2PythonAPI/blob/dd1ec35d29a1450988cc2b0e8037b04b2c2b3678/odm2api/ODM2/services/readService.py#L1246

[2017-11-21 19:19] emiliom commented on #126
Side question: are you currently trying to implement ALL result types in the REST API?? Or just a narrow subset that @horsburgh specified in the design doc? (I don't remember). I don't think we should be trying to implement every single result type in the REST API, at this time. Time Series and Measurements should be the targets, for now, unless Jeff's Specimen DB actually uses categorical results

[2017-11-21 19:24] lsetiawan commented on #126
I'm implementing what the database allows me to, others I can't really test, so I don't implement them, the code is there though, since it was easy to just put it there (I took similar code from the python api) It was just something I noticed, so I opened an issue, not planning to act on it whatsoever.

[2017-11-21 19:32] emiliom commented on #126
I'm not sure I completely follow. But my recommendation is not to bother implementing result types we're not using yet in an actual ODM2 database you're aware of. Things may change in the future with the REST API design (eg, see Jim Kreft's email a minute ago!), so let's focus on what we know we're likely to use and test (Jeff's design doc) soon.

But we digress from this github issue. Again, than

[2017-11-22 18:33] lsetiawan opened #127 "getResultValues dataframe column names are not CamelCase"
`getResultValues` dataframes seems to be returning column names that are all lowercase rather than `CamelCase`. This is inconsistent with the `CamelCase` keys that all the resulting model have when queried.

Example:

valueid | resultid | datavalue | valuedatetime | valuedatetimeutcoffset
-- | -- | -- | -- | --
1064 | 1064 | 1.2256 | 2015-11-17 13:55:12 | -7
1065 | 1065 | 71.2000 | 2015-12-01 10:2

[2017-11-22 19:29] lsetiawan opened #128 "Processing Level query by ID not working"
`getProcessingLevels` by ID not working since code is wrong. `ProcessingLevel` object has `ProcessingLevelID` not `ProcessingLevelsID`. See [link](https://github.com/ODM2/ODM2PythonAPI/blob/development/odm2api/ODM2/services/readService.py#L400) or below:

[code]

I'll provide fix soon. Just want to put this here so I don't forget.

[2017-11-23 00:20] emiliom commented on #94
Closing this issue. As mentioned above, the latest documentation (specially for API, objects, etc) is at http://odm2.github.io/ODM2PythonAPI/

[2017-11-23 00:20] #94 closed

[2017-11-23 00:24] emiliom commented on #65
@Castronova or @lsetiawan, can you check if this issue has been addressed? It looks like it was addressed a while ago. Just want to see if we can close this issue. Thanks.

[2017-11-23 00:31] emiliom commented on #117
@lsetiawan has this bug been fixed? If so, please close this issue. Otherwise, please go ahead and implement the fix (submit PR, which I'll review). It sounded like it was an easy and unobtrusive fix.

[2017-11-23 00:31] emiliom commented on #7
This functionality was removed a while ago. Closing the issue.

[2017-11-23 00:31] #7 closed

[2017-11-23 03:16] lsetiawan commented on #117
Looks like it has been fixed:
https://github.com/ODM2/ODM2PythonAPI/blob/development/odm2api/ODM2/services/readService.py#L794

[2017-11-23 03:18] lsetiawan commented on #65
@emiliom See: https://github.com/ODM2/ODM2PythonAPI/pull/68

[2017-11-23 03:19] lsetiawan commented on #128
Resolved by #129

[2017-11-23 03:19] #128 closed

[2017-11-23 03:27] emiliom commented on #117
Thanks. Closing.

[2017-11-23 03:27] #117 closed

[2017-11-23 03:29] emiliom commented on #65
Thanks for identifying the PR. Closing.

[2017-11-23 03:29] #65 closed

[2017-12-08 20:35] Elijahwalkerwest opened #130 "samplingfeaturedatasets datasets permanently appending to all objects."
Doing some testing with Mauriel today we discovered a strange behavior. Only the first query made returns accurate data. Each further query appends the datasets of all previous queries to a consistent object. E.G.

If you start the server and query id 1001, it returns 2 datasets.

If you start the server and query id 1002 it returns 3 datasets.

However if you first query 1001, then 1002, both obj

[2017-12-13 21:22] lsetiawan commented on #130
This issue has been addressed by PR #131. Closing.

[2017-12-13 21:22] #130 closed

[2017-12-18 18:35] miguelcleon opened #132 "Error in DataLoggerFiles and DataLoggerFileColumns"
@lsetiawan

I'm trying to run a JupyterNotebook with ODM2 PythonAPI and I'm getting errors acessing DataLoggerFiles and DataLoggerFileColumns
When I run:
[code]
I get:

[code]

When I then run:
[code]
I get:
[code]

It looks like in the first one odm2.dataloggerfiles.actionid is not a column.

In the second one dataloggerfilecolumns.measurementequation is misspelled I'm trying to run this on jupyt

[2017-12-18 19:29] lsetiawan commented on #132
I see that the first one, this is caused by Dataloggerfiles model, mapping to the wrong column within the database: https://github.com/ODM2/ODM2PythonAPI/blob/master/odm2api/ODM2/models.py#L458.

For the second one, `measurementequation` is indeed misspelled: https://github.com/ODM2/ODM2PythonAPI/blob/master/odm2api/ODM2/models.py#L514.

Thanks for catching these @miguelcleon. I won't be able to i

[2017-12-19 19:07] miguelcleon commented on #132
found two more problems with dataloggerfiles model
There is no column `dataloggeroutputfiledescription` instead it is `dataloggerfiledescription`
https://github.com/ODM2/ODM2PythonAPI/blob/master/odm2api/ODM2/models.py#L460

There is no column `dataloggeroutputfilelink` instead it is `dataloggerfilelink`
https://github.com/ODM2/ODM2PythonAPI/blob/master/odm2api/ODM2/models.py#L461

[2017-12-20 16:29] lsetiawan commented on #132
@miguelcleon Can you verify that this is all fixed now and close the issue? Thanks!

[2017-12-20 16:37] miguelcleon commented on #132
yes, I installed from development and can confirm these issues are fixed.

[2017-12-20 16:37] #132 closed

[2017-12-20 16:38] lsetiawan commented on #132
Great! Thanks for the fix :smile:

[2018-01-03 20:18] emiliom commented on #127
Has this issue been addressed?

[2018-01-03 20:19] emiliom commented on #124
Has this been implemented already? If not, @lsetiawan, does it seem like something we (ok, you!) could implement fairly easily? @horsburgh, any thoughts?

[2018-01-03 20:20] emiliom commented on #118
Has there been any progress on assessing this problem?

[2018-01-03 20:20] lsetiawan commented on #127
Not yet.

[2018-01-03 20:28] emiliom opened #135 "Issue new release?"
Some important enhancements and bug fixes were issued last month, at least on a development branch. These are needed by the ODM2 REST API (https://github.com/ODM2/ODM2RESTfulWebServices/issues/59)

Besides, the [last odm2api tagged release](https://github.com/ODM2/ODM2PythonAPI/releases/tag/v0.6.0-alpha) was issued 6 months ago. So, it seems like this is a good time to work towards a new release.

[2018-01-03 20:29] lsetiawan commented on #118
Not that I have heard.

[2018-01-03 21:12] lsetiawan commented on #124
Not sure, I'll have to look at the code in detail first.

[2018-01-05 02:11] horsburgh commented on #124
@emiliom - I don't believe this specific function has been implemented yet. I think @Elijahwalkerwest and @Maurier may have iterated on another endpoint that may have something similar in it. @Elijahwalkerwest - did you do something similar in the getSamplingFeatureDatasets function?

[2018-01-05 02:12] horsburgh commented on #118
@Elijahwalkerwest - any updates on this, or have we essentially dropped it since we are not currently testing against SQL Server?

[2018-01-05 02:30] Elijahwalkerwest commented on #124
Similar feature yes but the implementation is different. How do we want this inplemented exactly? Do we want the samoling feature end point to just return related features as well?

[2018-01-05 02:32] Elijahwalkerwest commented on #118
I haven't been spending time on this one but i can re direct some of my time if you need me to.

[2018-01-05 02:34] horsburgh commented on #124
@Elijahwalkerwest - just wondering if there was code we already developed that we could reuse. Good question about the getSamplingFeatures function. @emiliom - do you have a a preference for a separate function?  It might be easier to implement and wouldn't break anything that currently uses getSamplingFeatures.

[2018-01-05 02:37] Elijahwalkerwest commented on #124
No, cant reuse the code exactly but near enough that it wouldnt be hard to implement.  As far as im aware theres already a pythonapi get related features. So either restful endpoiny or roll it in to getsamplingfeatures. Shouldnt be hard either way.

[2018-01-05 03:01] horsburgh commented on #124
Ah - well, @Elijahwalkerwest, this issue is in the ODM2 PythonAPI repo, so if there is already a getRelatedSamplingFeatures can you provide a link to the code here and then we can close this issue right?

[2018-01-05 03:09] Elijahwalkerwest commented on #124
Oof. Commenting on mobile and forgot to look. Yeah im using it in the getsamplingfeaturedatasets actually. Let me double check when i get in to work tomorrow and link the relevant code and close.

[2018-01-05 09:17] emiliom commented on #124
I would agree.

[2018-01-05 16:04] lsetiawan commented on #124
Here's [`getRelatedSamplingFeatures`](https://github.com/ODM2/ODM2PythonAPI/blob/master/odm2api/ODM2/services/readService.py#L436) in the readServices. Thanks @Elijahwalkerwest and @horsburgh, I should've known this existed. :disappointed: *sigh* Still have traces of holiday brain i guess haha.

[2018-01-05 19:51] emiliom commented on #118
Thanks for the updates. I'm fine with not addressing this issue in the new release. But if @horsburgh and @Elijahwalkerwest think it can be addressed fairly easily early next week, go for it. Your call.

[2018-01-05 20:34] Elijahwalkerwest commented on #118
I'll look in to this today, see if it's something that can be resolved quickly.

[2018-01-05 22:48] emiliom commented on #115
PR #117 has addressed most/all of the uses of the Python `builtin` (reserved word) `type`, with a nice, unobtrusive deprecation path.

Are there other misused `builtins` we know of, or can this issue be closed once PR #117 is merged? Or should we leave this issue open as a reminder to look for additional cases that will need to be fixed?

[2018-01-05 23:17] emiliom commented on #115
Following up on PR #138

Do you mean the last type builtin, or the last builtin altogether (ie, no more misuse of builtins!)? If it's the latter, we can close this issue. Woo-hoo!

[2018-01-05 23:19] lsetiawan commented on #115
Based on the report of TravisCI, I do not see anymore error for builtin abuse in the code. :smile:

[2018-01-05 23:20] emiliom commented on #115
Woo-hoo indeed! Closing the issue.

[2018-01-05 23:20] #115 closed

[2018-01-06 15:19] lsetiawan commented on #127
This issue was addressed in #136.

[2018-01-06 20:15] emiliom commented on #124
Thanks for finding this, @lsetiawan.
Closing the issue

[2018-01-06 20:15] #124 closed

[2018-01-06 20:17] emiliom commented on #135
- #124 was [already implemented](https://github.com/ODM2/ODM2PythonAPI/blob/master/odm2api/ODM2/services/readService.py#L436) (see it on the [API docs](http://odm2.github.io/ODM2PythonAPI/modules.html#odm2api.ODM2.services.readService.ReadODM2.getRelatedSamplingFeatures).
  - @lsetiawan, can you confirm that it was added in the last 6 months? In that case, we'll add this to the release notes.
- #1

[2018-01-08 17:31] lsetiawan commented on #135
It looks like `getRelatedSamplingFeatures` has been around since April 2016 See https://github.com/ODM2/ODM2PythonAPI/commit/599b6cd8885f7a2956f1b9d1f394e983b9fa5935.

[2018-01-08 17:55] lsetiawan commented on #135
The last release was in May 26, 2017. Here are the major changes that occurred to the API since then.
- #96 Fix person and organization filter for affiliations.
- #98 Improve documentation to follow google doc style. (Still Ongoing)
- #99 Created a sphinx based Documentation
- #111 Python 3 Compatibility and Flake 8 Improvements
- #121 Created `getSamplingFeatureDatasets`
- #122 Created `getDatase

[2018-01-08 18:12] emiliom commented on #124
It looks like `getRelatedSamplingFeatures` had actually been around since April 2016. See [599b6cd](https://github.com/ODM2/ODM2PythonAPI/commit/599b6cd8885f7a2956f1b9d1f394e983b9fa5935).

[2018-01-10 07:14] emiliom commented on #127
@lsetiawan So, this issue is closed and you've implemented the fix. As we've discussed, this will be a disruptive change. Ultimately, it's necessary. But I was thinking, what if we deploy it as a less painful, gradual transition? That is, implement it first as a behavior that is *accessible by request* via an optional argument, rather than as the default. The default behavior would remain as it wa

[2018-01-16 18:06] aufdenkampe commented on #135
On today's BiG CZ call, we decided:

1. Tag release as "Release 0.7.0", removing “pre-release”, “alpha” and/or “beta” tags. We're well beyond that, with 6 previous releases and several repos that now depend on this one!

2. Start using Milestones to organize issues for the next release. We've used them well in other repos, but haven't done a good job with this repo. See https://github.com/ODM2/ODM

[2018-01-16 18:12] aufdenkampe commented on #135
@lsetiawan, do you think you could look at the remaining open issues in these open Milestones and close both issues and Milestones if you think they were completed?

- [ ] Milestone: alpha Release 0.5. https://github.com/ODM2/ODM2PythonAPI/milestone/1
- [ ] Milestone: 0.6.0. https://github.com/ODM2/ODM2PythonAPI/milestone/2

You could even create a new Milestone 0.7, then tag all the fixed issues

[2018-01-16 22:00] lsetiawan commented on #28
Update: Seems like all of functions listed above are passing. I think I can close this issue.

[2018-01-16 22:00] #28 closed

[2018-01-16 22:03] lsetiawan commented on #9
PR #39 has been merged, based on https://github.com/ODM2/ODM2PythonAPI/issues/9#issuecomment-205510877, this is the only thing that's needed to address the issue. Closing.

[2018-01-16 22:03] #9 closed

[2018-01-16 22:06] lsetiawan commented on #26
Seems like this was addressed by https://github.com/ODM2/ODM2PythonAPI/commit/83faa0abb1ac3fa0778a64ab1dc28596a13949a8, @emiliom could you please confirm and then close this issue? Thanks.

[2018-01-16 22:09] lsetiawan commented on #64
@emiliom Do you know if most of these issues/pr's have been addressed? Seems like some of them are not. This is the only thing in milestone 0.6.0.

[2018-01-17 16:07] lsetiawan commented on #127
PR #140 has been merged. This issue is resolved.

[2018-01-17 16:07] #127 closed

[2018-01-17 19:38] emiliom commented on #64
It's a mixed bag. I'll assess this later in the month, after we issue the next odm2api release (it's not like anyone paid any attention to this milestone wish list from 19 months ago!). In the meantime, I'll delete the milestone I had created for it way back then.

[2018-01-19 23:13] emiliom commented on #135
New release is now ready and stamped:
https://github.com/ODM2/ODM2PythonAPI/releases/tag/v0.7.0
Request for new conda package is in the books, for Filipe:
https://github.com/ODM2/conda-recipes-ODM2/issues/71

Onward and upwards!

There's one issue that I think needs to be discussed soon, before odm2api can be seen as really stable. Currently the package has a packager/folder hierarchy that include

[2018-01-22 18:01] aufdenkampe commented on #135
@emiliom, thank you for making this release happen, developing helpful release notes, and queuing up a conda package release.

I'm very much a fan of moving forward soon with the next release to remove the useless "ODM2" level of hierarchy, and also changing the default column labels to CamelCase. With release v0.7 minted as is, any software that depends on the old conventions still have handy acc

[2018-01-30 18:39] emiliom commented on #135
I'm reopening this only b/c there are some discussions and notes here that I'd like to capture and move elsewhere. FYI, also intend to go back to very old issues to clean up the repo's issues. But that won't happen until mid February.

[2018-01-30 19:10] Elijahwalkerwest opened #144 "Improve performance for getSamplingFeatureDatasets"
I have already utilized eager loading for the SQLALchemy query in the endpoint, but due to the nature of the data needed to be gathered, the current structure is incredibly slow as more Samplingfeatures are queried for. Need to make it usable for a query of all SamplingFeatures of a given Type.

[2018-01-30 19:51] horsburgh commented on #144
@emiliom and @lsetiawan - this is the issue I was referring to on the phone today. I'm not sure it should be titled "improve performance", but rather may require a rethinking of the current approach.

[2018-01-30 19:55] emiliom commented on #144
Thanks @Elijahwalkerwest and @horsburgh

@lsetiawan and I may or may not have time this week (after today) to give input. But if you can point us to the branch and code where @Elijahwalkerwest's current / latest implementation can be seen, that'll be helpful. Again, no promises!

[2018-01-30 21:17] Elijahwalkerwest commented on #144
The most recent work should be in the development branch. I've been working on a few iterations to try and resolve this but nothing that has worked thus far, and so isn't up on github yet.

[2018-02-01 17:08] emiliom commented on #144
Don and I have taken a quick look. Unfortunately we won't have time to help out on this possibly through next week (we have a hands-on workshop late next week that I'm co-organizing).

In the meantime, two things come to mind:
- If you have an equivalent SQL SELECT statement that you've developed and run directly on the ODM2 database, that is reasonably fast (and I assume not directly translatable

[2018-02-13 01:20] Elijahwalkerwest commented on #144
result = self._session_factory.engine.execute("SELECT * FROM odm2.samplingfeatures as SF\
                     LEFT JOIN odm2.results as R on R.FeatureActionID in (\
                        SELECT FeatureActionID\
                         FROM odm2.featureactions as FA\
                         WHERE FA.SamplingFeatureID = SF.SamplingFeatureID\
                     )\
                     LEFT JOI

[2018-02-16 20:21] emiliom opened #146 "Reorganizing module hierarchy structure to remove ODM2 folder"
We started discussing this some time ago at #135

@lsetiawan's PR #145 is intended to create a very nifty deprecation pathway to implement the reorganization and removal of the `ODM2` folder.

### Background discussions (copied from #135)

**Emilio**:

There's one issue that I think needs to be discussed soon, before odm2api can be seen as really stable. Currently the package has a packager/folder

[2018-02-17 00:08] emiliom commented on #146
@lsetiawan, a question about the sphinx documentation: what happens once we merge your PR #146 (assuming it does what we want), in terms of the API Sphinx documentation? Now there'll be two valid module paths, one with the `ODM2` path/package component, one without. Can we choose which one to show in the API documentation?

For reference, here's the [API doc for `readService`](http://odm2.github.i

[2018-02-17 00:19] lsetiawan commented on #146
For the sphinx, I'd probably have to update the `rst` docs. See https://github.com/ODM2/ODM2PythonAPI/blob/master/docs/source/modules.rst. We would like to show the new ones correct? I'm not sure how the old one will render in the documentation. Thanks.

[2018-02-17 00:23] emiliom commented on #146
Ok. So we control that. Cool.

Exactly

[2018-02-28 16:55] lsetiawan commented on #146
Done in #147. Closing.

[2018-02-28 17:03] lsetiawan commented on #135
I think we should issue a release of `v0.7.1` before further optimization work. Here are the changes that happened since the last release:
- #143 Added eager loading for `samplingfeaturedataset` to try and cut down on query time.
- #147 Created Future deprecation warning for `ODM2` modules.
- #148 Move to `conda-forge` and deprecate `ODM2` conda channel.
- #151 Updated `README` to reflect changes

[2018-02-28 17:10] emiliom commented on #146
Thanks for closing.

I guess regarding the docs:

The updates should be done only when issue a new release.

[2018-02-28 17:11] aufdenkampe commented on #135
I think that's a great idea.

[2018-02-28 17:24] lsetiawan commented on #146
I can update that now, so it will be included in the new release.

[2018-02-28 17:39] lsetiawan opened #152 "Unecessary Branches Cleanup"
I  just notice that there are a lot of old and unnecessary branches that can potentially be cleaned up. I've already cleaned up the most obvious one that doesn't have commits ahead. Here are the list of branches that have some commits ahead, might need some evaluation before deleting:
- https://github.com/ODM2/ODM2PythonAPI/tree/actions
- https://github.com/ODM2/ODM2PythonAPI/tree/pre_alpha_0
- ht

[2018-02-28 17:49] lsetiawan commented on #135
Following the gitflow workflow, I've created [release/0.7.1](https://github.com/ODM2/ODM2PythonAPI/tree/release/0.7.1) branch. This branch is used for preparing the release. **ONLY bug fixes, documentation generation, and other release-oriented tasks should go in this branch.** So update to the docs mentioned in https://github.com/ODM2/ODM2PythonAPI/issues/146#issuecomment-369310382, should be don

[2018-02-28 18:33] horsburgh commented on #152
@Elijahwalkerwest - can you indicate if you need any of these branches? Otherwise, I think they can go @lsetiawan

[2018-02-28 19:39] emiliom commented on #146
Great, thanks.

[2018-02-28 20:17] emiliom commented on #135
Thanks, @lsetiawan!

Don and I have discussed this new release. The plan is to create it on Friday, or Monday at the latest.

[2018-02-28 22:51] Elijahwalkerwest commented on #152
@horsburgh  @lsetiawan  As far as I can discern there is no need for any of the branches specified.  It's possible Stephanie had some use for them, but none that seems applicable now.

[2018-02-28 23:54] lsetiawan commented on #152
@Elijahwalkerwest Great! I will delete them all then.

[2018-03-01 00:09] lsetiawan commented on #152
The listed branches has been cleaned up. Closing.

[2018-03-01 00:09] #152 closed

[2018-03-04 08:37] emiliom commented on #135
The new release 0.7.1 is out: https://github.com/ODM2/ODM2PythonAPI/releases/tag/v0.7.1

A new conda package will be issued in `conda-forge` early next week.

Thanks @lsetiawan and @Elijahwalkerwest !

[2018-03-04 08:41] emiliom commented on #146
I'm reopening this issue as a reminder that in a future release (date TBD), we'll remove support for the now-deprecated "ODM2" package module hierarchy. That, import statements such as this one:

[code]

will eventually no longer be supported, and only the new hiearchy will be supported:

[code]

[2018-03-09 19:50] Elijahwalkerwest commented on #144
Updated version of this SQL query that is currently working, but is VERY SLOW.

Also I'm not sure if it's getting all the data needed. Here is the data that is needed for that endpoint.

DataSetID,
DataSetTitle,
DataSetAbstract,
ResultTypeCV,
SampledMediumCV,
VariableCode,
VariableNameCV,
startDate: minDate,
endDate: maxDate,
siteType: SiteTypeCV,
latitude:samplingFeature.related_features.Latitude

[2018-04-05 19:03] PhatWabbit opened #155 "Editing individual entries from the API"
Hi there,

I want to change the VariableCode of a variable that I created a while back - is there any way to do this from the API?

Thanks,
Dan W

[2018-04-06 16:12] emiliom commented on #155
That's correct. The `update` services (https://github.com/ODM2/ODM2PythonAPI/blob/master/odm2api/services/updateService.py) have not been fleshed out, for the most part.

My suggestion would be to reuse the connection setup at the start of an odm2api session, then construct and issue a direct `SQL UPDATE` statement. Roughly, this would look something like this:

[code]

[2018-08-30 16:34] aufdenkampe opened #157 "Update & add examples to work with Release 0.7.1"
The existing examples were created by @sreeder about 1-2 years ago to work with releases 0.5 and 0.6.

 It seems that none of the examples work with [Release v0.7.1](https://github.com/ODM2/ODM2PythonAPI/releases/tag/v0.7.1) and probably release 0.7.0 because of the major changes with those releases.

@emiliom, what would it take to update, replace or point to other working examples (via ReadMe) t

[2018-08-30 16:39] #135 closed

[2018-08-30 16:42] emiliom commented on #157
@aufdenkampe I can do this next week. Shouldn't be a problem -- I will test and tweak [this notebook](https://github.com/BiG-CZ/wshp2017_tutorial_content/blob/master/notebooks/ODM2_Example3.ipynb) from the BiGCZ workshop.

I'm on leave today and tomorrow.

[2018-08-30 16:43] aufdenkampe commented on #67
@emiliom, @lsetiawan and @horsburgh.
I'm assuming this issue can be closed. Let me know if I missed something.

[2018-08-30 16:43] #67 closed

[2018-08-30 16:44] aufdenkampe commented on #66
@emiliom, @lsetiawan and @horsburgh.
I'm assuming this issue can be closed. Let me know if I missed something.

[2018-08-30 16:44] #66 closed

[2018-08-31 18:12] emiliom commented on #157
@aufdenkampe A question about this:

It sounds like you're saying this not from direct testing of every example (including Miguel's notebooks), but from interpreting the impact of changes in releases 0.7.0 and 0.7.1, specially the simplification of the module hierarchy? If so, keep in mind that those major changes were implemented in such a way that they did not break old code. We created a "trans

[2018-09-01 19:30] emiliom commented on #67
I don't know for a fact. But with issues like this one that are narrow yet quite old, I think it's best to go ahead and close them (as you've done). A new one can be opened if it comes up, just like any new problem.

FYI @lsetiawan is now completely off to greener pastures. I'll probably tap him very occasionally with ODM2 stuff when the level of sophistication and inside knowledge merits it, but

[2018-09-04 16:14] lsetiawan commented on #67
Thanks for the ping :wink:. I sure do miss this project! haha :smile:

[2018-09-07 20:54] aufdenkampe commented on #157
cc: @erekalper & @dougvj, who work with @roelofversteeg

[2018-09-10 19:58] aufdenkampe commented on #157
@emiliom, it might also be worth adding to the top of the examples that ODM2PythonAPI is compatible with Python 3 since since Jan. 19, 2018 (Release 0.7, https://github.com/ODM2/ODM2PythonAPI/releases/tag/v0.7.0). Ideally we would ensure that the examples are also compatible with Python 3.

[2018-09-10 20:00] aufdenkampe commented on #157
@emiliom, in response to your https://github.com/ODM2/ODM2PythonAPI/issues/157#issuecomment-417748062, I think @erekalper & @dougvj & @roelofversteeg did do some direct testing, but that it didn't work. However, I don't know the details.

@erekalper & @dougvj & @roelofversteeg, could you let us know what worked and what didn't?

[2018-09-10 20:08] emiliom commented on #157
Pasting my comments from the email, and responding to this point:

I'm tied up today and tomorrow and have only scanned these emails. But before a misunderstanding sets in, I want to clarify the status of Python 3 compatibility and ODM2PythonAPI. As far as I know it's *not* guaranteed to work with Python 3, nor has there been much testing against it. The text Anthony is quoting on https://github.c

[2018-09-15 21:38] emiliom commented on #157
@aufdenkampe Regarding the BiGCZ workshop odm2api notebook [ODM2_Example3.ipynb](https://github.com/BiG-CZ/wshp2017_tutorial_content/blob/master/notebooks/ODM2_Example3.ipynb): I've rerun (confirmed) and made small tweaks.

I first reran it with the "odm2client" conda env created for the workshop, and everything was fine. Then I created a new conda env using the [same environment file](https://git

[2018-09-15 21:43] emiliom commented on #155
We should probably close this issue. @aufdenkampe and @horsburgh, what do you think?

If you think the code snippet I included is useful enough, we could think about folding it somewhere into the [Sphinx documentation](http://odm2.github.io/ODM2PythonAPI/).

[2018-09-15 22:40] aufdenkampe commented on #157
@emiliom, thanks for doing this and laying out possible next steps! Talk to you Monday!

[2018-09-15 22:43] aufdenkampe commented on #155
@emiliom, I like your idea of including your https://github.com/ODM2/ODM2PythonAPI/issues/155#issuecomment-379301786 into the [Sphinx documentation](http://odm2.github.io/ODM2PythonAPI/). I was recently looking at this with @roelofversteeg and @erekalper and noticing that those functions were indeed in need or work and documentation. It would be good to include that message in the docs.

[2018-09-23 01:30] emiliom opened #158 "SQLite Result ValueDateTime regression to non-datetime type"
[`getResultValues`](http://odm2.github.io/ODM2PythonAPI/modules.html#odm2api.services.readService.ReadODM2.getResultValues) on a measurement-type SQLite ODM2 database is now returning ValueDateTime types as strings rather than datetime.

This was not the case last November, when the same code with the same database returned datetime types. In [this notebook](https://github.com/BiG-CZ/wshp2017_tuto

[2018-09-24 00:35] emiliom opened #159 "Fix git histories for module-hierarchy reorganized files"
It looks like the module files that were moved as part of the removal of the ODM2 module hierarchy lost their git history. Instead, the git history is attached to the files that will eventually be removed, in the old module hierarchy. eg:
https://github.com/ODM2/ODM2PythonAPI/blob/master/odm2api/models.py
vs
https://github.com/ODM2/ODM2PythonAPI/blob/master/odm2api/ODM2/models.py

The module-hiera

[2018-09-24 03:17] horsburgh commented on #118
Agreed. Closing.

[2018-09-24 03:17] #118 closed

[2018-09-24 07:07] emiliom commented on #157
I've cleaned up the Examples folder, via PR #160 (now merged into master). Removed old sample code, and added a new notebook, [WaterQualityMeasurements_RetrieveVisualize.ipynb](https://github.com/ODM2/ODM2PythonAPI/blob/master/Examples/WaterQualityMeasurements_RetrieveVisualize.ipynb), that's an updated and polished version of https://github.com/BiG-CZ/wshp2017_tutorial_content/blob/master/noteboo

[2018-09-24 07:17] emiliom commented on #2
This is ancient, and was addressed long ago. I'm closing it.

[2018-09-24 07:17] #2 closed

[2018-10-07 06:42] emiliom commented on #24
I'm closing this very old issue. Besides the fact that it's very old, pretty much everything here had been addressed, AND I'm about to remove the `Examples/Sample.py` sample code and replace it with a more useful Jupyter notebook (in addition to another notebook I already loaded into the Examples directory).

[2018-10-07 06:42] #24 closed

[2018-10-07 23:01] emiliom commented on #157
Added new notebook to Examples folder, via PR #162 (now merged into master). New notebook [TimeSeries_RetrieveVisualize.ipynb](https://github.com/ODM2/ODM2PythonAPI/blob/master/Examples/TimeSeries_RetrieveVisualize.ipynb) complements the previously added one by focusing on a SQLite database with time series results. It's based on https://big-cz.github.io/notebook_data_demo/notebooks/2017-06-24-odm

[2018-10-08 17:18] #10 closed

[2018-10-08 17:21] emiliom commented on #48
AppVeyor currently doesn't work properly, plus we're very unlikely to try to set up MSSQL continuous integration testing for the foreseeable future. So, closing this old issue.

[2018-10-08 17:21] #48 closed

[2018-10-09 19:08] emiliom commented on #97
Note to self: add instructions on how to install and run sphinx locally, to be able to test new documentation edits. I'll copy the detailed documentation from the internal NANOOS DMAC sphinx docs.

[2018-10-18 00:11] emiliom commented on #155
Adding this example to the Sphinx docs now, so I'm closing the issue.

[2018-10-18 00:11] #155 closed

[2018-10-18 01:06] emiliom commented on #157
@aufdenkampe I'm done with all the updates and changes identified in this issue. The Sphinx docs are now updated. Check them out, http://odm2.github.io/ODM2PythonAPI/. If you have suggestions for further changes, let's handle them via new issues.

[2018-10-18 01:06] #157 closed

[2019-04-07 08:11] #54 closed

[2019-04-08 07:46] emiliom opened #164 "Create a utility module (util) with useful helper functions"
- Import into a pandas DataFrame the output of an odm2api read function
- Import into a geopandas GeoDataFrame the output of a SamplingFeature read function (though this implies adding GeoPandas to the requirements, which may be a bit heavy)

[2019-04-08 13:37] aufdenkampe commented on #164
@emiliom, I really like this idea, as I think it is fundamental to the purpose of having a functional and performant Python API. I think the extra requirements are a small price to pay for also getting efficient and tested I/O capabilities.

Thanks for continuing to move this critical repo forward.

[2019-04-08 17:13] horsburgh commented on #164
@emiliom - I don't have a really strong feeling about this other than I think we should be very careful about adding additional requirements and complexity. My feeling is that we never finished the core functionality and so adding additional functionality and dependencies should perhaps be secondary to firming up the foundation.

Utility functions would be nice. Is there ongoing work that's drivin

[2019-04-08 17:26] aufdenkampe commented on #164
@horsburgh, good question. I'm also interested in hearing what is motivating this work!

I agree with the points about managing complexity and need to better develop core functionality.
I also believe that -- given that Pandas has become a core part of the standard Python computational science and data science stack -- that we should consider strong integration with Pandas and GeoPandas as core fu

[2019-04-08 19:25] emiliom opened #165 "v0.7.2 release"
Preparing a new minor release. See https://github.com/ODM2/ODM2PythonAPI/milestone/3 for the **aspirational** targets, at this time. The last release happened a year ago.

The changes that I do intend to include, for sure, are two bug fixes:
- #156, Model column name fixes. Already merged into the development branch months ago.
- #158, a regression bug introduced in v0.7.1

Everything else is up f

[2019-04-14 19:06] emiliom opened #166 "pypi package is ancient"
odm2api PyPI package at https://pypi.org/project/odm2api/ is ancient, last updated Dec 2016.

I'm not able to do anything about it myself in the near future. Just wanted to capture that information here so we don't lose sight of it.

Related, old (and closed) issues: #79, #71, #49, #35

[2019-04-20 19:37] emiliom opened #168 "Update tests to remove deprecated use of ODM2 module hierarchy"
Doing this would make the output of the tests (eg, "warnings summary" on TravisCI, such as [this one](https://travis-ci.org/ODM2/ODM2PythonAPI/jobs/442962054)) much less cluttered and easier to digest.

Plus, we have to move away from that deprecated module hierarchy anyway. Better sooner than later.

Example of current warning output:
[code]

[2019-04-20 21:13] emiliom commented on #165
#158 has been addressed in PR #169

[2019-04-20 22:47] emiliom commented on #158
Fixed by #169. Closing

[2019-04-20 22:47] #158 closed

[2019-04-20 22:48] emiliom commented on #168
PR #170 started to address this. More changes are needed

[2019-04-21 01:54] emiliom commented on #21
This issue is ancient. Before closing it (it's probably worth closing just by virtue of it being so old ...), I tried to see if the problem described here no longer exists. That definitely seems to be the case:
- There are no references to lowercase `Dataset*` variables in [createDataset](https://github.com/ODM2/ODM2PythonAPI/blob/master/odm2api/services/createService.py#L67)
- `createDataset` is

[2019-04-21 01:54] #21 closed

[2019-04-21 03:33] emiliom commented on #168
Completed by PR #171

[2019-04-21 03:33] #168 closed

[2019-04-21 06:18] emiliom commented on #26
I'm not in a position to test MS SQL Server connectivity, and few people (if any) are using or testing ODM2 with SQL Server. Looks like https://github.com/ODM2/ODM2PythonAPI/commit/83faa0abb1ac3fa0778a64ab1dc28596a13949a8 (in its changes to [odm2api/ODMconnection.py](https://github.com/ODM2/ODM2PythonAPI/blob/master/odm2api/ODMconnection.py)) was intended to address the original issue, but that wa

[2019-04-21 06:18] #26 closed

[2019-04-21 06:30] emiliom commented on #15
This is way too old and most likely already long addressed. Closing.

[2019-04-21 06:30] #15 closed

[2019-04-21 19:44] emiliom commented on #75
I've looked into the status of this issue. I think it's already been addressed. That's based on the related follow-ups at https://github.com/ODM2/WOFpy/issues/75, as well as our extensive experience over the last ~ 18 months successfully running queries involving polymorphic objects, specially `Sites`.

So, I'm closing it.

[2019-04-21 19:44] #75 closed

[2019-04-21 20:03] emiliom commented on #165
@aufdenkampe and @horsburgh after your burst of engagement on #164 two weeks ago, you went mum ... Anyway, I've been working away at this release, and updating my [release milestone targets](https://github.com/ODM2/ODM2PythonAPI/milestone/3) along the way. The two critical issues I absolutely wanted to get into this release (#156 and #158) are merged into the `development` branch, plus a bunch of

[2019-04-23 14:35] aufdenkampe commented on #165
@emiliom, thanks for moving these fixes along! I really appreciate that.

Regarding Pandas integration, I fully support the following from @emiliom.

Let's please include at least a lightweight Pandas integration in odm2api. I would suggest that we should have Pandas integration at the core of ODM2 software, and that we already have a confusing number of non-integrated repos. Let's consolidate rat

[2019-04-23 15:34] horsburgh commented on #165
@emiliom - I'm super busy with end of semester stuff right at the moment, but I don't really have issues with you moving forward with the ODM2API stuff that you have been working on. The Pandas dataframe idea is good. I'm a bit dubious about GeoPandas because it potentially takes us back in the direction of trying to support GIS functionality. We spun our wheels on that for a long time and it cost

[2019-04-23 16:46] emiliom commented on #165
Thanks for the votes on a lightweight Pandas integration. I'll say more about it, and where I'm at, in #164.

Regarding GeoPandas-related functionality: @horsburgh I agree it brings up other issues, so let's set it aside for future discussions and releases. I hear you on your past unhappy experience with geospatial functionality, but I'm looking forward to the opportunity to persuade you at least

[2019-04-24 18:02] emiliom opened #172 "Utility to import into pandas dataframe output of read functions"
Starting a focused issue on this specific functionality, instead of the overly broad issue #164. Will copy over comments on this, later.

### Goals
- Aiming for a completely generic function, not hard wired to any specific entity. That may be overly ambitious, though ...
- Focused on core entities

### Issues I've encountered, and either solved or not solved yet, including (to be updated):
- Funct

[2019-04-24 20:20] emiliom commented on #172
Relevant comments from related issues:

**Anthony:**

**Jeff:**

[2019-04-25 16:12] emiliom commented on #165
FYI, I'm running out of time (I'll be traveling next week), and the dataframes task (#172) has developed some complexities that I'll need more time to address. So, I'll go ahead and issue a release by Monday, based on the current state of the `development` branch. I'll also make some small updates to the Sphinx documentation to reflect the changes.

[2019-04-25 16:16] emiliom commented on #165
Forgot to mention that I'll shoot for sharing a notebook by mid next week to demo the current state of my Pandas dataframe ingester, and remaining challenges.

[2019-04-25 17:01] aufdenkampe commented on #165
Thanks for the update, and for pushing this release forward in its current state. I'm a fan of frequent smaller releases, over bigger less frequent releases.

[2019-04-27 18:28] emiliom commented on #164
For my own future reference, to be moved into new issues when I'm ready to work on this stuff.

### Enhanced timeseries result values

From the [WaterQualityMeasurements_RetrieveVisualize.ipynb](https://github.com/ODM2/ODM2PythonAPI/blob/master/Examples/WaterQualityMeasurements_RetrieveVisualize.ipynb) example in the odm2api documentation.

[code]

And to conveniently unpack relevant metadata, on

[2019-04-28 06:34] emiliom commented on #159
- https://stackoverflow.com/questions/35618507/git-sure-fire-way-to-move-rename-files-while-keeping-the-history
- https://stackoverflow.com/questions/2314652/is-it-possible-to-move-rename-files-in-git-and-maintain-their-history
- https://stackoverflow.com/questions/10828267/can-git-restructure-my-folders-without-losing-history/55339543

[2019-04-28 06:50] emiliom commented on #146
Note to self: Make sure to read #159 for "definitive" findings about the preservation of git history after the module moves.

[2019-04-28 06:50] #159 closed

[2019-05-01 22:55] aufdenkampe commented on #164
@emiliom, thanks for all your work on this!

[2019-05-11 06:03] #165 closed

[2019-05-11 06:13] emiliom commented on #165
Release v0.7.2 is now published. Finished and closed https://github.com/ODM2/ODM2PythonAPI/milestone/3. Will now work on creating conda-forge and PyPI packages.